{% extends 'menu/menu.html.twig' %}


 {% block estilos %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
  <link rel="stylesheet" href="/resources/demos/style.css"></link>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <Link rel="stylesheet" href="{{ asset('css/reportesaldo.css')}}">
    <style type="text/css">
    #myProgress {
      width: 50%;
      background-color: #ddd;
      display: block;
      margin: auto;

    }
    #myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
    }
</style>
    <script >
        var cliente2;
        var cuenta2;
        var hasta2;
        var desde2;
        var pd;
  $(document).ready(function() {

     $("#btnbuscar").click(function () {    
     $("#tbla").empty(); 
     var radios= $('input:radio[name=rap]:checked').val();
      $("#tbla").on("click", "td" , function(){
      if(radios=='6'){
        var cot = $(this).parents("tr").find("td").eq(0).html();
        $("#gif").show();
        var url=("{{ path('cotizaciones_detalles', { 'cot':'xxx' }) }}");
         url = url.replace("xxx", cot);
          $.ajax({
              dataType: "html",
              url: url,
              type: "POST",
              data: {cot: cot},
              success: function(data)
              {
               location.href=url;   
              }
          });    
      }else{
         pd = $(this).text();
         $("#gif").show();
        var url=("{{ path('pedidos_detalles', { 'id':'xxx' }) }}");
         url = url.replace("xxx", pd);
        $.ajax({
            dataType: "html",
            url: url,
            type: "GET",
            data: {id: pd},
            success: function(data)
            {
             location.href=url;   
            }
        });  
      }
    });
  if (radios=='1'){
    if(document.getElementById("clt").value!='' && document.getElementById("combocta").value!='' && document.getElementById("desde").value!='' && document.getElementById("hasta").value!='' || document.getElementById("pedido").value!=''){
        var pedido= document.getElementById('pedido').value;
        var folio= document.getElementById('folio').value;
        var cuenta= document.getElementById('combocta').value;
        var cliente= document.getElementById('clt').value;
        var hasta= document.getElementById('hasta').value;
        var desde= document.getElementById('desde').value;
        var hastadev='';
        var desdedev='';          
        var cont=0;
        var upd=0;
         $("#tbla").append("<tr class='dev'><td style='text-align: center' color:'blue';>PEDIDO</td><td style='text-align: center' color:'blue';>FOLIO</td><td style='text-align: center' color:'blue';>CLIENTE</td><td style='text-align: center' color:'blue';>OBRA</td><td style='text-align: center' color:'blue';>EMISION</td><td style='text-align: center' color:'blue';>DEVOLUCION</td><td style='text-align: center' color:'blue';>STATUS</td></tr>");
        $.post("{{ path('clt_pedidos') }}",{pedido:pedido,folio:folio,cuenta:cuenta,cliente:cliente,hasta:hasta,desde:desde,hastadev:hastadev,desdedev:desdedev},
        function(mensaje) {
          var pass='';
           $("#pedido").html(mensaje);
            var elem = document.getElementById("myBar");   
            var width = 15;
            var id = setInterval(frame, mensaje.length);

            $("#cargando").show();
            $("#myBar").show();
            var upd=0;
            function frame() {

              if (width >= 100) {
                clearInterval(id);
                $("#cargando").hide();
                $("#myBar").hide();
                $("#cargando").append("<span>"+mensaje.length+'Registros</span>');
              } else {
                if(pass!='activo'){

                   for (var i=0, total = mensaje.length; i < total; i++) {

            //        var ano = mensaje[i]["fecha"].substring(0, 4);              
            //        var dia = mensaje[i]["fecha"].substring(8, 10);        
            //        var mes = mensaje[i]["fecha"].substring(5, 7);
            //        var fecha= dia+"/"+mes+"/"+ano;
            //         if(mes <= 9){

            //       mes = '0'+mes;
            //     }
            //     if(dia <= 9){ 
            //     dia = '0'+dia;
            //   }
                 
                 

            //   var ano = mensaje[i]["devolucion"].substring(0, 4);              
            //   var dia = mensaje[i]["devolucion"].substring(8, 10);     //   11-04-2018
            //   var mes = mensaje[i]["devolucion"].substring(5, 7); 
            //   var devolucion= dia+"/"+mes+"/"+ano;
            // if(mes <= 9){

            //       mes = '0'+mes;
            //     }
            //     if(dia <= 9){ 
            //     dia = '0'+dia;
            //   }
                 

                    pass='activo';
                    width++;
                    elem.innerHTML = width *1 + 'Registros'; 
                $("#tbla").append("<tr class='dev'><td style='text-align: center; color:blue; text-decoration: underline; cursor:pointer;'>"+mensaje[i]["pedido"]+"</td><td style='text-align: center'>"+mensaje[i]["folio"]+"</td><td style='text-align: center'>"+mensaje[i]["cliente"]+"</td><td style='text-align: center'>"+mensaje[i]["cuenta"]+"</td><td style='text-align: center'>"+mensaje[i]["fecha"]+"</td><td style='text-align: center;'>"+mensaje[i]["devolucion"]+"</td><td style='text-align: center'>"+mensaje[i]["status"]+"</td></tr>");  
                }
               
              }else{
                  width=100;
                }
           }
         }
      });

     }else{
      alert('Debe Completar Algunos Campos');
     }
   }
  
       if (radios=='2') {

        var tipofecha= $('input:radio[name=edad]:checked').val();
        if(document.getElementById("clt").value!='' && document.getElementById("combocta").value!='' && document.getElementById("desde").value!='' && document.getElementById("hasta").value!=''){
        var desde=document.getElementById("desde").value;
        var hasta=document.getElementById("hasta").value;
        var fecuno = (desde.substring(6,10)+ '/' + desde.substring(3,6) +  desde.substring(0,2));
        var fecdos = (hasta.substring(6,10)+ '/' + hasta.substring(3,6) +  hasta.substring(0,2));

        var mydate2 = new Date(fecdos);
        var day2 = mydate2.getDate();
        var month2 = mydate2.getMonth()+1;
        var year2 = mydate2.getFullYear();

        var mydate1 = new Date(fecuno);
        var day1 = mydate1.getDate();
        var month1= mydate1.getMonth()+1;
        var year1 = mydate1.getFullYear();
         if(month1 <= 9){
                  month1 = '0'+month1;
                }
                if(day1 <= 9){ 
                day1 = '0'+day1;
              }

              if(month2 <= 9){
                  month2 = '0'+month2;
                }
                if(day2 <= 9){ 
                day2 = '0'+day2;
              }
        var fec1= year1+"-"+month1+"-"+day1;
        var fec2= year2+"-"+month2+"-"+day2;

       $("#tbla").append("<tr class='dev'><td style='text-align: center' color:'blue';>PEDIDO</td><td style='text-align: center' color:'blue';>FOLIO</td><td style='text-align: center' color:'blue';>FECHA</td><td style='text-align: center' color:'blue';>FECHA DEVOLUCION</td><td style='text-align: center' color:'blue';>SALDOS</td>");
        var pd=0;
        var cont=0;
        $.post("{{ path('filtros_rptsaldo') }}",{cliente:document.getElementById("clt").value,cuenta:document.getElementById("combocta").value,hasta:fec2,desde:fec1,tipofecha:tipofecha},
           function(mensaje) {
             var ulpd='';
            for (var i=0, total = mensaje.length; i < total; i++) {
          if  (ulpd!= mensaje[i]["pedido"]){
              var pd=(mensaje[i]['pedido']);
               cont=cont+1;
                if (cont>1){
                  $('#tbla tbody tr').each(function(){
                     var Referencia = $(this).find("td").eq(0).html();
                     if (Referencia==pd){
                      var f= ($("#").index(this)+1);
                      document.getElementById("tbla").deleteRow(f);

                     }
                  }); 
                }
               var ano = mensaje[i]["fecha_dev"].substring(0, 4);
               var dia = mensaje[i]["fecha_dev"].substring(8, 10);
               var mes = mensaje[i]["fecha_dev"].substring(5, 7);
               var fechadev= dia+"/"+mes+"/"+ano;

               var ano2 = mensaje[i]["fecha_pedido"].substring(0, 4);
               var dia2 = mensaje[i]["fecha_pedido"].substring(8, 10);
               var mes2 = mensaje[i]["fecha_pedido"].substring(5, 7);
               var fechaped= dia2+"/"+mes2+"/"+ano2;
            $("#tbla").append("<tr class='dev'><td style='text-align: center; color:blue; text-decoration: underline; cursor:pointer;'>"+mensaje[i]["pedido"]+"</td><td style='text-align: center'>"+mensaje[i]["folio"]+"</td><td style='text-align: center'>"+fechaped+"</td><td style='text-align: center'>"+fechadev+"</td><td style='text-align: center'>"+mensaje[i]["saldo"]+"</td></tr>");
            ulpd= mensaje[i]["pedido"];
          }
        }
           var totalimp=0;
           var cont2=0;  
           $('#tbla tbody tr').each(function(){
            cont2=cont2+1;
          if (cont2>1){
            var Referencia = $(this).find("td").eq(4).html();
            totalimp= parseFloat(totalimp)+ parseFloat(Referencia);
            document.getElementById("totalsuma").value= "$"+totalimp.toFixed(2);
              }
          });
       });
     }else{
      alert('Debe Completar todos los Campos');
     } 
    }
     if (radios=='3') {
      
      if(document.getElementById("clt").value!='' && document.getElementById("combocta").value!='' && document.getElementById("desde").value!='' && document.getElementById("hasta").value!=''){
        var cliente=document.getElementById('clt').value;

        $.post("{{ path('clt_devoluciones') }}",{cuenta:document.getElementById('combocta').value,cliente:cliente,hasta:document.getElementById('hasta').value,desde:document.getElementById('desde').value,foliodev:document.getElementById('folio_dev').value},

        function(mensaje) {
          $("#tbla").find("tr:gt(0)").remove();
          $("#pedido").html(mensaje);
          $("#tbla").append("<tr class='dev'><td style='text-align: center' color:'blue';>PEDIDO</td><td style='text-align: center' color:'blue';>FOLIO DEVOLUCION</td><td style='text-align: center' color:'blue';>CLIENTE</td><td style='text-align: center' color:'blue';>OBRA</td><td style='text-align: center' color:'blue';>FECHA DEVOLUCION</td><td style='text-align: center' color:'blue';>EQUIPO</td><td style='text-align: center' color:'blue';>CANTIDAD DEVUELTO</td></tr>");
          $("#pedido").html(mensaje);
          var pass='';
            var elem = document.getElementById("myBar");   
            var width = 0;
            var id = setInterval(frame, 10);
            $("#cargando").show();
            $("#myBar").show();
            function frame() {
              if (width >= 100) {
                 clearInterval(id);
                $("#cargando").hide();
                $("#myBar").hide();
              } else {
               
                if(pass!='activo'){
                  for (var i=0, total = mensaje.length; i < total; i++) { 
                    pass='activo';
                width++;
                    elem.innerHTML = width *1 + 'Registros';     
                    $("#tbla").append("<tr class='dev'><td style='text-align: center; color:blue; text-decoration: underline; cursor:pointer;'>"+mensaje[i]["pedidosistema"]+"</td><td style='text-align: center'>"+mensaje[i]["foliodevolucion"]+"</td><td style='text-align: center'>"+mensaje[i]["cliente"]+"</td><td style='text-align: center'>"+mensaje[i]["obra"]+"</td><td style='text-align: center'>"+mensaje[i]["fechamovimiento"]+"</td><td style='text-align: center'>"+mensaje[i]["equipo"]+"</td><td style='text-align: center'>"+mensaje[i]["cantidad"]+"</td></tr>");
                  }
                }else{
                  width=100;
                }
              }
            }
      });
      }else{
        alert("Debe Completar Los Cuatro Primeros Campos");
      }
  }
     
     if (radios=='4') {
         if(document.getElementById("clt").value!='' && document.getElementById("combocta").value!='' && document.getElementById("desde").value!='' && document.getElementById("hasta").value!=''){
      $("#tbla").append("<tr class='dev'><td style='text-align: center' color:'blue';>PEDIDO</td><td style='text-align: center' color:'blue';>CLIENTE</td><td style='text-align: center' color:'blue';>OBRA</td><td style='text-align: center' color:'blue';>OPERACION</td><td style='text-align: center' color:'blue';>FORMA PAGO</td><td style='text-align: center' color:'blue';>FECHA DE PAGO</td><td style='text-align: center' color:'blue';>MONTO</td></tr>");

       $.post("{{ path('filtros_pagos') }}",{pedido:document.getElementById('pedido').value,cuenta:document.getElementById('combocta').value,cliente:document.getElementById('clt').value,hasta:document.getElementById('hasta').value,desde:document.getElementById('desde').value,operacion:document.getElementById('oper').value,forma:document.getElementById('combFP').value},
        function(mensaje) {
          $("#pedido").html(mensaje);
           var pass='';
            var elem = document.getElementById("myBar");   
            var width = 0;
            var id = setInterval(frame, 10);
            $("#cargando").show();
            $("#myBar").show();
            function frame() {
              if (width >= 100) {
                 clearInterval(id);
                $("#cargando").hide();
                $("#myBar").hide();
              } else {
                if(pass!='activo'){
                  for (var i=0, total = mensaje.length; i < total; i++) { 
                    pass='activo';
                width++;
                    elem.innerHTML = width *1 + 'Registros';     
              $("#tbla").append("<tr class='dev'><td style='text-align: center; color:blue; text-decoration: underline; cursor:pointer;'>"+mensaje[i]["pedido"]+"</td><td style='text-align: center'>"+mensaje[i]["cliente"]+"</td><td style='text-align: center'>"+mensaje[i]["obra"]+"</td><td style='text-align: center'>"+mensaje[i]["operacion"]+"</td><td style='text-align: center'>"+mensaje[i]["formas"]+"</td><td style='text-align: center'>"+mensaje[i]["fechapago"]+"</td><td style='text-align: center'>"+mensaje[i]["montopago"]+"</td></tr>");
                       }
                }else{
                  width=100;
                }
              }
            }
      });
      }else{
        alert("Debe Completar Los Cuatro Primeros Campos");
      }
     }
         if (radios=='5') {
          if(document.getElementById("clt").value!='' && document.getElementById("combocta").value!='' && document.getElementById("desde").value!='' && document.getElementById("hasta").value!=''){
            $("#tbla").append("<tr class='dev'><td style='text-align: center';>PEDIDOS</td><td style='text-align: center'>CLIENTES</td><td style='text-align: center'>OBRA</td><td style='text-align: center'>FECHA</td><td style='text-align: center'>DOMICILIO</td><td style='text-align: center'>HORA</td></tr>");
            $.post("{{ path('filtrar_recolecciones') }}",{cliente:document.getElementById("clt").value,cuenta:document.getElementById("combocta").value,hasta:document.getElementById("hasta").value,desde:document.getElementById("desde").value},
              function(mensaje) {
                var pass='';
            var elem = document.getElementById("myBar");   
            var width = 0;
            var id = setInterval(frame, 10);
            $("#cargando").show();
            $("#myBar").show();
            function frame() {
              if (width >= 100) {
                 clearInterval(id);
                $("#cargando").hide();
                $("#myBar").hide();
              } else {
                if(pass!='activo'){
                  for (var i=0, total = mensaje.length; i < total; i++) { 
                    pass='activo';
                     width++;
                    elem.innerHTML = width *1 + 'Registros';     
                  var ano2 = mensaje[i]["fecha"].substring(0, 4);
                  var dia2 = mensaje[i]["fecha"].substring(8, 10);
                  var mes2 = mensaje[i]["fecha"].substring(5, 7);
                  var fecha= dia2+"/"+mes2+"/"+ano2;
                $("#tbla").append("<tr class='dev'><td style='text-align: center; color:blue; text-decoration: underline; cursor:pointer;'>"+mensaje[i]["pedidos"]+"</td><td style='text-align: center'>"+mensaje[i]["clientes"]+"</td><td style='text-align: center'>"+mensaje[i]["obra"]+"</td><td style='text-align: center'>"+fecha+"</td><td style='text-align: center'>"+mensaje[i]["domicilio"]+"</td><td style='text-align: center'>"+mensaje[i]["hora"]+"</td></tr>");
                }
                }else{
                  width=100;
                }
              }
            }
          });
          }else{
            alert('Debe Completar todos los Campos');
          }
        }
  if (radios=='6'){
    //if(document.getElementById("clt").value!='' && document.getElementById("combocta").value!='' && document.getElementById("desde").value!='' && document.getElementById("hasta").value!='' || document.getElementById("inpt_cot").value!=''){
        var hastadev='';
        var desdedev='';          
        var cont=0;
        var upd=0;
        $("#tbla").append("<tr class='dev'><td style='text-align: center' color:'blue';>COTIZACIONES</td><td style='text-align: center' color:'blue';>CLIENTE</td><td style='text-align: center' color:'blue';>OBRA</td><td style='text-align: center' color:'blue';>FECHA</td><td style='text-align: center' color:'blue';>STATUS</td></tr>");
        $.post("{{ path('consultar_cot') }}",{cotizacion:document.getElementById('inpt_cot').value,obra:document.getElementById('combocta').value,cliente:document.getElementById('clt').value,hasta:document.getElementById('hasta').value,desde:document.getElementById('desde').value,hastadev:hastadev,desdedev:desdedev},
        function(mensaje) {
          var pass='';
           $("#pedido").html(mensaje);
            var elem = document.getElementById("myBar");   
            var width = 15;
            var id = setInterval(frame, mensaje.length);

            $("#cargando").show();
            $("#myBar").show();
            var upd=0;
            function frame() {
              if (width >= 100) {
                clearInterval(id);
                $("#cargando").hide();
                $("#myBar").hide();
                $("#cargando").append("<span>"+mensaje.length+'Registros</span>');
              } else {
                if(pass!='activo'){
                  for (var i=0, total = mensaje.length; i < total; i++) { 
                    pass='activo';
                    width++;
                    elem.innerHTML = width *1 + 'Registros'; 
                $("#tbla").append("<tr class='dev'><td style='text-align: center; color:blue; text-decoration: underline; cursor:pointer;'>"+mensaje[i]["cotizacion"]+"</td><td style='text-align: center'>"+mensaje[i]["cliente"]+"</td><td style='text-align: center'>"+mensaje[i]["obra"]+"</td><td style='text-align: center'>"+mensaje[i]["fecha"]+"</td><td style='text-align: center'>"+mensaje[i]["status"]+"</td></tr>");  
                }
              }else{
                  width=100;
                }
           }
         }
      });

     // }else{
     //  alert('Debe Completar Algunos Campos');
     // }
   }
        document.getElementById('imprimir').disabled=false;

    });
  
          $("#desde").change(function () {
          if(document.getElementById('hasta').value !='' && document.getElementById('clt').value!='' && document.getElementById('combocta').value!=''){
            document.getElementById('btnbuscar').disabled=false;
            }
          });
           $("#hasta").change(function () {
            if(document.getElementById('desde').value !='' && document.getElementById('clt').value!='' && document.getElementById('combocta').value!=''){
              document.getElementById('btnbuscar').disabled=false;
            }
          });

           
            $('#clt').on('input', function() {
              var userText = $(this).val();
              $("#categoryname").find("option").each(function() {
                if ($(this).val() == userText) {
                  validar();
                }
              })
            if(document.getElementById('hasta').value !='' && document.getElementById('desde').value !='' && document.getElementById('clt').value!='' && document.getElementById('combocta').value!=''){
            document.getElementById('btnbuscar').disabled=false;
            }
        })
  });
 
       function limpiar2() {
         if (document.getElementById('clt').value=='') {
               var clienterz='';
               document.getElementById("combocta")='';
               sel.remove(sel.selectedIndex);
              }
       }
    function imprimir() {
        var cliente=document.getElementById("clt").value;
        var cuenta=document.getElementById("combocta").value;
        var hasta=document.getElementById("hasta").value;
        var desde=document.getElementById("desde").value;
        var ano = desde.substring(6, 10);
        var dia = desde.substring(0, 2);
        var mes = desde.substring(3, 5);
        var fechadesde= dia+"-"+mes+"-"+ano;

         var ano2 = hasta.substring(6, 10);
        var dia2 = hasta.substring(0, 2);
        var mes2 = hasta.substring(3, 5);
        var fechahasta= dia2+"-"+mes2+"-"+ano2;
        if(cuenta==''){
            cuenta='0';
          }
          if(cliente==''){
            cliente='0';
          }
          if(fechadesde=='--'){
            fechadesde='0';
          }
          if(fechahasta=='--'){
            fechahasta='0';
          }
          if(document.getElementById("folio").value==''){
            document.getElementById("folio").value=0;
          }
          //var pd;
          if(document.getElementById("pedido").value==''){
            pd='xxx';
          }else{
            pd=document.getElementById("pedido").value;
          }
         
          if(document.getElementById("folio_dev").value==''){
            document.getElementById("folio_dev").value='0';
          }
            if(document.getElementById("inpt_cot").value==''){
            cotizacion='xxx';
          }else{
            cotizacion=document.getElementById("inpt_cot").value;
          }
         if($("#rec").is(':checked')) {
          var desde= ano+"-"+mes+"-"+dia;
          var hasta= ano2+"-"+mes2+"-"+dia2;
          window.open("impr/"+desde+"/"+hasta+"/"+cliente+"/"+cuenta);
         }
         if($("#ped").is(':checked')) {
          alert(fechadesde);
          alert(fechahasta);
          window.open("sqlpd/"+cliente+"/"+cuenta+"/"+fechadesde+"/"+fechahasta+"/"+document.getElementById("folio").value+"/"+pd);   
         }
         if($("#sal").is(':checked')) {
          var desde= ano+"-"+mes+"-"+dia;
          var hasta= ano2+"-"+mes2+"-"+dia2;
            window.open("sqlsaldo/"+cliente+"/"+cuenta+"/"+desde+"/"+hasta+"/"+tipofecha);   
         }
         if($("#devl").is(':checked')) {
          window.open("rptdev/"+pd+"/"+document.getElementById("folio_dev").value+"/"+fechadesde+"/"+fechahasta);
         }
         if($("#pag").is(':checked')) {
          window.open("rptpago/"+pd+"/"+document.getElementById("folio_dev").value+"/"+fechadesde+"/"+fechahasta+"/"+cliente+"/"+cuenta);
         }
         if($("#cot").is(':checked')) {
          window.open("imprcot/"+cuenta+"/"+cliente+"/"+fechadesde+"/"+fechahasta+"/"+cotizacion);
         }
      }
      

              $( function() {
                $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
         };
         $.datepicker.setDefaults($.datepicker.regional['es']);
                $("#desde" ).datepicker();
                $("#hasta" ).datepicker();
                $("#desde").datepicker('option', { dateFormat: "dd/mm/yy" });
                $("#hasta").datepicker('option', { dateFormat: "dd/mm/yy" });

              } );
            function llenardatalist(){
                  $.post("{{ path('datalist') }}", function(mensaje) {
                  $("#txt3").html(mensaje);
                    for (var i=0, total = mensaje.length; i < total; i++) {

                        $("#categoryname").append("<option>"+mensaje[i]['razonsocial']+"</option>");
                    }
                    });
                  }
       function validar(e) {        
                $("#restriccion").css("display", "none");
                 var clienterz= document.getElementById("clt").value;
                  if (clienterz != ''){
                    $.post("{{ path('llenarcuentas2') }}", {clienterz:clienterz}, function(mensaje) {
                  $("#txt3").html(mensaje);

                    if(mensaje[0]['restringir'] =='Restringido'){
                        $("#restriccion").show();
                    }else{
                    for (var i=0, total = mensaje.length; i < total; i++) {

                       $("#categoryname2").append("<option>"+mensaje[i]['cuenta_Id']+"</option>");
                    }
                  }
                    });

                  }else{
                    document.getElementById("combocta").value='';
                  }
              }       
  function limpiar(){
    location.reload();

  }
  var tipofecha='';
  $(document).ready(function()
{
    $("input[name=edad]").click(function () {    
        tipofecha= $('input:radio[name=edad]:checked').val();
        $("#cta_comb").show();
    });
});
   var saldo='';
 $(document).ready(function()
{
 $("#rec").change(function(){
  $("#tbla").find("tr:gt(0)").remove();
    $("#cta_comb").show();
    document.getElementById('combocta').value='';
    document.getElementById('clt').value='';
    document.getElementById('desde').value='';
    document.getElementById('hasta').value='';
    document.getElementById('folio').value='';
    document.getElementById('folio_dev').value='';
    document.getElementById('pedido').value='';
           $("#contenedor3").hide();
           $("#fdv").hide();
           $("#folio_dev").hide();
           $("#flio").hide();
           $("#folio").hide();
           $("#fac").hide();
           $("#fctu").hide();
           $("#for1").hide();
           $("#forma1").hide();
           $("#lblpedido").hide();
           $("#pedido").hide();
           $("#lbloperacion").hide();
           $("#oper").hide();
           $("#lblformapg").hide();
           $("#combFP").hide();
           $("#sl").hide();
           $("#totalsuma").hide();
            $("#lblcot").hide();
           $("#inpt_cot").hide();
           $("#imprimir").prop("disabled",true);
  });
   $("#sal").change(function(){
    document.getElementById('combocta').value='';
    document.getElementById('clt').value='';
    document.getElementById('desde').value='';
    document.getElementById('hasta').value='';
    document.getElementById('folio').value='';
    document.getElementById('folio_dev').value='';
    document.getElementById('pedido').value='';
    $("#imprimir").prop("disabled",true);
    $("#tbla").find("tr:gt(0)").remove();
           $("#contenedor3").show();
           $("#cta_comb").hide();
           $("#fdv").hide();
           $("#folio_dev").hide();
           $("#flio").hide();
           $("#folio").hide();
           $("#fac").hide();
           $("#fctu").hide();
           $("#for1").hide();
           $("#forma1").hide();
           $("#lblpedido").hide();
           $("#pedido").hide();
           $("#lbloperacion").hide();
           $("#oper").hide();
           $("#lblformapg").hide();
           $("#combFP").hide();
           $("#sl").show();
           $("#totalsuma").show();
            $("#lblcot").hide();
           $("#inpt_cot").hide();

            }); 
  $("#devl").change(function(){
    document.getElementById('combocta').value='';
    document.getElementById('clt').value='';
    document.getElementById('desde').value='';
    document.getElementById('hasta').value='';
    document.getElementById('folio').value='';
    document.getElementById('folio_dev').value='';
    document.getElementById('pedido').value='';
    $("#imprimir").prop("disabled",true);
    $("#tbla").find("tr:gt(0)").remove();
           $("#cta_comb").show();
           $("#fdv").show();
           $("#folio_dev").show();
           $("#contenedor3").hide();
           $("#flio").hide();
           $("#folio").hide();
           $("#fac").hide();
           $("#fctu").hide();
           $("#for1").hide();
           $("#forma1").hide();
            $("#lblpedido").hide();
           $("#pedido").hide();
           $("#sl").hide();
           $("#totalsuma").hide();
           $("#lbloperacion").hide();
           $("#oper").hide();
           $("#lblformapg").hide();
           $("#combFP").hide();
            $("#lblcot").hide();
           $("#inpt_cot").hide();
            });  
  $("#ped").change(function(){
    document.getElementById('combocta').value='';
    document.getElementById('clt').value='';
    document.getElementById('desde').value='';
    document.getElementById('hasta').value='';
    document.getElementById('folio').value='';
    document.getElementById('folio_dev').value='';
    document.getElementById('pedido').value='';
    $("#imprimir").prop("disabled",true);
    $("#tbla").find("tr:gt(0)").remove();
           $("#cta_comb").show();
           $("#flio").show();
           $("#folio").show();
           $("#fdv").hide();
           $("#folio_dev").hide();
           $("#contenedor3").hide();
           $("#fac").hide();
           $("#fctu").hide();
           $("#for1").hide();
           $("#forma1").hide();
           $("#lblpedido").show();
           $("#pedido").show();
           $("#lbloperacion").hide();
           $("#oper").hide();
           $("#lblformapg").hide();
           $("#combFP").hide();
           $("#sl").hide();
           $("#totalsuma").hide();
            $("#lblcot").hide();
           $("#inpt_cot").hide();
            }); 
   $("#pag").change(function(){
    document.getElementById('combocta').value='';
    document.getElementById('clt').value='';
    document.getElementById('desde').value='';
    document.getElementById('hasta').value='';
    document.getElementById('folio').value='';
    document.getElementById('folio_dev').value='';
    document.getElementById('pedido').value='';
    $("#imprimir").prop("disabled",true);
    $("#tbla").find("tr:gt(0)").remove();
           $("#cta_comb").show();
           $("#fac").show();
           $("#fctu").show();
           $("#for1").show();
           $("#forma1").show();
           $("#fdv").hide();
           $("#folio_dev").hide();
           $("#contenedor3").hide();
           $("#flio").hide();
           $("#folio").hide();
           $("#lblpedido").hide();
           $("#pedido").hide();
           $("#lbloperacion").show();
           $("#oper").show();
           $("#lblformapg").show();
           $("#combFP").show();
           $("#sl").hide();
           $("#totalsuma").hide();
            $("#lblcot").hide();
           $("#inpt_cot").hide();
            });
   $("#cot").change(function(){
    document.getElementById('combocta').value='';
    document.getElementById('clt').value='';
    document.getElementById('desde').value='';
    document.getElementById('hasta').value='';
    document.getElementById('folio').value='';
    document.getElementById('folio_dev').value='';
    document.getElementById('pedido').value='';
    $("#imprimir").prop("disabled",true);
    $("#tbla").find("tr:gt(0)").remove();
           $("#cta_comb").show();
           $("#fac").hide();
           $("#fctu").hide();
           $("#for1").hide();
           $("#forma1").hide();
           $("#fdv").hide();
           $("#folio_dev").hide();
           $("#contenedor3").hide();
           $("#flio").hide();
           $("#folio").hide();
           $("#lblpedido").hide();
           $("#pedido").hide();
           $("#lbloperacion").hide();
           $("#oper").hide();
           $("#lblformapg").hide();
           $("#combFP").hide();
           $("#sl").hide();
           $("#totalsuma").hide();
           $("#lblcot").show();
           $("#inpt_cot").show();
           
            });
});

 
</script>
 {%endblock%}

{% block body %}

<form method="post">
  <div id="myProgress" hidden="hidden" >
     <div id="myBar" hidden="hidden" >Registros</div>
   </div>
    <div id="contenedor" style="display: block;margin:auto;">
      <div id="contenedor2">
        <fieldset style="width: 60%; display: block;margin: auto;">
          <img style="width: 30%; display: block;margin: auto;" class="logo" src="{{ asset('img/reporte.jpg')}}">   
          <legend style="text-align: center;">Buscar Por:</legend>
          <div class="radio" style="text-align: center;">
          <label><input type="radio" name="rap" id="ped" value="1">Pedidos</label>
          <label><input type="radio" name="rap" id="sal" value="2">Saldos</label>
          <label><input type="radio" name="rap" id="devl" value="3">Devoluciones</label>
          <label><input type="radio" name="rap" id="pag" value="4">Pagos</label>
          <label><input type="radio" name="rap" id="rec" value="5">Recolecciones</label>
          <label><input type="radio" name="rap" id="cot" value="6">Cotizaciones</label>
          </div>
        </fieldset>
    </div>
   
   <div id="contenedor3" hidden="hidden">
       <fieldset style="width: 25%; display: block;margin: auto;">
        <div class="radio" style="text-align: center;">
          <label><input type="radio" name="edad" id="edad" value="1">Fecha de Entrega</label>
          <label><input type="radio" name="edad" id="edad2" value="2">Fecha de Devolución</label>
        </div>
      </fieldset>
    </div>
   <div id="cta_comb" class="form-group" hidden="hidden" style="text-align: center; margin-top: 1%;">
     <label id="lblcot" class="labe15" for="pedido" hidden="hidden">Cotización</label>
      <input type="text" id="inpt_cot" hidden="hidden"></input>
      <label class="label3" for="cliente" style="margin-left: 10px">Cliente</label>
      <input name="clt" type="text" id="clt" autocomplete="off" list="categoryname" ></input>
      <datalist id="categoryname">
      <script type="text/javascript">
        llenardatalist();
      </script>
      </datalist>
      <label id="lblcta" class="label4" for="combocta">Obra</label>
      <input type="text" id="combocta" autocomplete="off" list="categoryname2" value=""> </input>
      <datalist id="categoryname2">
      </datalist>
      <label id="lblpedido" class="labe15" for="pedido" hidden="hidden">Pedido</label>
      
      <input type="text" id="pedido" autocomplete="off" list="categoryname3" value="" hidden="hidden"></input>

     
       <datalist id="categoryname3">
       </datalist>
      <label class="creados">Desde:</label><input id="desde" name="desde" class="pedidosdeltxt" type="text" size="10">
      <label class="hasta">Hasta:</label><input id="hasta" name="hasta" class="hastatxt" type="text" size="10">
      <label id="fdv" class="lblfoliodev" style="margin-left: 35px;">Folio de Devolución:</label><input id="folio_dev" class="foliodevtxt" type="text" name="folio_dev" size="10">
      <label id="flio" class="folio" for="folio">Folio:</label><input id="folio" class="foltxt" type="text" name="inptfolio" size="10">
      <br>
      <br>
      <label id="lbloperacion" class="label1" hidden="hidden">Tipo de Operación</label>&nbsp;<select style="width: 10%;" id="oper" hidden="hidden">
        <option></option>
      <option>Pago</option>
      <option>Cargo</option></select>
      <label id="lblformapg" class="label1" hidden="hidden">Forma de Pago</label>&nbsp;<select style="width: 10%;" id="combFP" hidden="hidden">
            {% for formas_pagos in formaspg %}
            {% set formas = formas_pagos.formas%}
              <option></option>
              <option value="{{formas}}">{{formas}}</option>  
            {%endfor%}
        </select>
    
  </div>
</div>

<div id="botones1">
 <input  id="btnbuscar" class="btn btn-primary" type="button" value="Generar" name="buscar">
<button  class="btn btn-danger" style="" onclick="limpiar();">Limpiar<span class="glyphicon glyphicon-trash"></span></button>
</div>
</div>
<div id="divtb" style="width: 75%;">
  <table id="tbla" width="150%" align="center" >
  </table> 
</div>
<br>
 <label class="suma" style="margin-left: 1000px;" hidden="hidden" id="sl">Saldos:</label><input style="text-align: center; color: blue;" id="totalsuma" class="sumatxt" type="text" size="20" disabled="true" hidden="hidden">
</form>
<div>
  <button  type="button" class="btn btn-info" style="display: block; margin: auto;" onclick="imprimir();" disabled="true" id="imprimir" >Exportar a PDF<span class="glyphicon glyphicon-print"></span></button>
</div>
{% endblock %}
