 {% extends 'menu/menu.html.twig' %}


 {% block estilos %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
  <link rel="stylesheet" href="/resources/demos/style.css"></link>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
             <Link rel="stylesheet" href="{{ asset('css/fontello.css')}}">
            <Link rel="stylesheet" href="{{ asset('css/conslt_dev.css')}}">

            <script type="text/javascript">
              var clienterz;
              var filadev;
              var obt_folio;
              var cantd_entr=0;
              var cant_eq=0;
              var cant_dev=0;

                $(document).ready(function() {
                $('#clt').on('input', function() {
                  var userText = $(this).val();
                  limpiar();
                  $("#categoryname").find("option").each(function() {
                    if ($(this).val() == userText) {
                      validar();
                    }
                  })
                })
              });
              function limpiar() {
              if (document.getElementById('clt').value=='') {
                    clienterz='';
                    var sel = document.getElementById("combocta");
                    sel.remove(sel.selectedIndex);
                   }
              }
              
              function cancelar(){
               $('#myModal-devolucion').modal('hide');
              } 

              $( function() {
                 $.datepicker.regional['es'] = {
                        closeText: 'Cerrar',
                        prevText: '< Ant',
                        nextText: 'Sig >',
                        currentText: 'Hoy',
                        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                        weekHeader: 'Sm',
                        dateFormat: 'dd/mm/yy',
                        firstDay: 1,
                        isRTL: false,
                        showMonthAfterYear: false,
                        yearSuffix: ''
                 };
                 $.datepicker.setDefaults($.datepicker.regional['es']);
                $("#inpfecdevol" ).datepicker();
                $("#inpfecdevol").datepicker('option', { dateFormat: "mm/dd/yy" });
              });

               $( function() {
                $( "#desde" ).datepicker();
                $( "#hasta" ).datepicker();
                $("#desde").datepicker('option', { dateFormat: "mm/dd/yy" });
                $("#hasta").datepicker('option', { dateFormat: "mm/dd/yy" });
              });

              function validar(e) {        
                $("#restriccion").css("display", "none");
                 var clienterz= document.getElementById("clt").value;
                  if (clienterz != ''){
                    $.post("{{ path('llenarcuentas2') }}", {clienterz:clienterz}, function(mensaje) {
                  $("#txt3").html(mensaje);

                    if(mensaje[0]['restringir'] =='Restringido'){
                        $("#restriccion").show();
                    }else{
                      $("#restriccion").hide();
                    for (var i=0, total = mensaje.length; i < total; i++) {
                      $("#combocta").append("<option value="+mensaje[i]['cuenta_Id']+">"+mensaje[i]['cuenta_Id']+"</option>");
                    }
                  }
                    });
                  }else{
                    document.getElementById("combocta").value='';
                  }
              }


               function llenardatalist(){
                  $.post("{{ path('datalist') }}", function(mensaje) {
                  $("#txt3").html(mensaje);
                    for (var i=0, total = mensaje.length; i < total; i++) {
                        $("#categoryname").append("<option>"+mensaje[i]['razonsocial']+"</option>");
                    }
                    });
                  }
          function filtrar() {
                var pedido= document.getElementById('pedido').value;
                var folio= document.getElementById('folio').value;
                var cuenta= document.getElementById('combocta').value;
                var cliente= document.getElementById('clt').value;
                var hasta= document.getElementById('hasta').value;
                var desde= document.getElementById('desde').value;
                var foliodev= document.getElementById('folio_dev').value;

                
                  $.post("{{ path('clt_devoluciones') }}",{pedido:pedido,folio:folio,cuenta:cuenta,cliente:cliente,hasta:hasta,desde:desde,foliodev:foliodev},
                      function(mensaje) {
                       $("#tbla_consultadev").find("tr:gt(0)").remove();
                     $("#pedido").html(mensaje);
                   for (var i=0, total = mensaje.length; i < total; i++) {
                }
              $("#tbla_consultadev").append("<tr class='dev'><td style='text-align: center';><a href=#myModal_devoluciones data-toggle=modal data-target=#myModal_devoluciones>Detalles</td><td style='text-align: center'>"+mensaje[i]["pedido"]+"</td><td style='text-align: center'>"+mensaje[i]["folio_pedido"]+"</td><td style='text-align: center'>"+mensaje[i]["folio"]+"</td><td style='text-align: center'>"+mensaje[i]["cliente"]+"</td><td style='text-align: center'>"+mensaje[i]["cuenta"]+"</td><td style='text-align: center'>"+mensaje[i]["fecha_devolucion"]+"</td><td style='text-align: center'>"+mensaje[i]["fecha_actual"]+"</td></tr>");
                      }
                });
              }
     </script>
     {%endblock%}
     {% block body %}
<form method="post">
  <div id="cta_comb" class="cmb-cta" style="margin-top: 50px;">
    <h2 style="margin-left: 500px;">Consulta de Devoluciones</h2>
     <label class="pedido" style="margin-left: 150px;">Pedido:</label><input id="pedido" class="pedtxt" type="text" name="pedido" size="10">
     <label class="folio">Folio:</label><input id="folio" class="foltxt" type="text" name="folio" size="10">
     <span  id="restriccion" style="background-color:red; display: none">RESTRINGIDO</span>
     <label class="label3" for="cliente">Cliente</label>
     <input name="clt" type="text" id="clt" autocomplete="off" list="categoryname"></input>
       <datalist id="categoryname">
          <script type="text/javascript">
              llenardatalist();
          </script>
        </datalist>
      <label class="cuenta">Cuenta:</label><select id="combocta"></select>
      <label class="desde">Desde:</label><input id="desde" class="desdetxt"  type="text" name="desde" size="10">
      <label class="hasta">Hasta:</label><input id="hasta" class="hastatxt" type="text" name="hasta" size="10">
      <div class="foliodev">
        <label class="lblfoliodev" style="margin-left: 35px;">Folio de Devolución:</label><input id="folio_dev" class="foliodevtxt" type="text" name="folio_dev" size="10">
        <input style="margin-left: 25px;" id="btnbuscar" class="btn btn-info btn-lg" type="button" value="Buscar" name="buscar" onclick="filtrar();">
      </div>
</div>
<div id="div1" style="height: 280px; ">
  <table id="tbla_consultadev" width="100%" align="center" >
    <thead>
     <tr id="columnas_pedidos" align="center">
         <th >Detalles</th>
         <th>Pedido</th>
         <th>Folio Pedido</th>
         <th>Folio Devolucion</th>
         <th>Cliente</th>
         <th>Cuenta</th>
         <th>Fecha de Devolucion</th>
         <th>Fecha Real de Devolucion</th>
     </tr>
     </thead>
            </table>
  </div>           
    <script>
        document.getElementById("tbla_consultadev").onclick=function(e){ 
        if(!e)e=window.event; 
        if(!e.target) e.target=e.srcElement; 
        var TR=e.target;
        while( TR.nodeType==1 && TR.tagName.toUpperCase()!="TR" )
        TR=TR.parentNode;
        var celdas=TR.getElementsByTagName("TD");
        if( celdas.length!=0 )
        var pedido=( celdas[1].innerHTML );
        $.post("{{ path('obtener_pedido') }}", {pedido: pedido}, function(mensaje) {
                $("#txt3").html(mensaje);
                for (var i=0, total = mensaje.length; i < total; i++) {
                  //mensaje[i]['pedido'];
                }
      }
      </script> 
    </form>
{% endblock %}