{% extends 'menu/menu.html.twig' %}
{% block estilos %}

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
  <link rel="stylesheet" href="/resources/demos/style.css"></link>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="mdtimepicker.js"></script>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  
  <script src="{{ asset('js/character-counter.js') }}"></script>

	<title>Detalles de Renta</title>
  <Link rel="stylesheet" href="{{ asset('css/ped_estilo.css')}}">
  <style>
.bit { margin: 150px auto; max-width: 300px; }
h2 { margin: 20px; font-size: 24px; }

</style>
{%endblock%}

{% block body %}           


{% set botones = '' %}
  {% set estado = '' %}
  {% set rol = '' %}
  {% set rol=app.session.get('myrol') %}
  {% if rol == 'Limitado' %}    
    {% set botones = 'disabled="true"' %}           
  {% else %}  
    {% set botones = '' %}           
   {% endif %}

{% if cot != '00' %}
  {% for comment in cot %}
      {{comment.cot}} 
  {% endfor %}
    {% set estadoobra ='disabled="true"' %}
    {% set id=0 %}
{% endif %}

{% if cot == '00' %}  
  {% for comment in id %}
    {{comment.id}} 
{% endfor %}

  {% if id == 0 %}
    {% set estado = ''  %}
    {% set botones ='disabled="true"' %}
    {% set estadoobra = '' %}
  {% else %}
    {% set estado ='disabled="true"' %}
    {% set estadoobra ='disabled="true"' %}
  {% endif %}
{% endif %}

<script type="text/javascript">
    var totaldifferencia='';
    var totalimpuesto=0;
    var total=0;
    var fecha22='';
    var fecha1hoy='';
    var fecha2dev='';
    var mydate1='';
    var day1='';
    var month1='';
    var year1='';
    var totaldiff=0;
    var fecha11='';
    var dato=0;
    var datopd=0;
    function calcular2() {
      var totaldesc=0;
      if(document.getElementById("inpt2").value!=0){
       totaldesc= (parseFloat(document.getElementById("inpt1").value) * parseFloat(document.getElementById("inpt2").value) / 100); 
      }
      if(document.getElementById("sventrega").value!=0){
        document.getElementById("inpt3").value= (((parseFloat(document.getElementById("inpt1").value) - parseFloat(totaldesc))) + parseFloat(document.getElementById("sventrega").value)).toFixed(2);
      }else{
        document.getElementById("inpt3").value= ((parseFloat(document.getElementById("inpt1").value) - parseFloat(totaldesc)));
      }

        
        document.getElementById("inpt5").value= (parseFloat(document.getElementById("inpt3").value)).toFixed(2);  
       if (document.getElementById("check").checked){
         totalimpuesto= parseFloat(document.getElementById('inpt3').value) * parseFloat(0.16);
          document.getElementById('inpt4').value= (totalimpuesto).toFixed(2);
          document.getElementById('inpt5').value=(parseFloat(document.getElementById("inpt3").value) + parseFloat(document.getElementById("inpt4").value)).toFixed(2);
        }else{
          document.getElementById('inpt4').disabled=true;
          document.getElementById('inpt4').value=0;
          document.getElementById('inpt5').value= document.getElementById('inpt3').value;
        }
      if(document.getElementById("inpst").value=='' && document.getElementById("inpt1").value=='' ){
        
        document.getElementById("btn").disabled=true;
      }
      
    }
    var radiocotpd='';
$(document).ready(function() {
calcular2();
 if(document.getElementById('fecha1').value!='' && document.getElementById('fecha2').value!='' && document.getElementById('inpt5').value!=''){
        document.getElementById("btn").disabled=true;

       }
  if(document.getElementById("fecha_recoleccion").value != '00-00-0000'){

    $("#btn_eliminar_rec").show();
  }
 if(document.getElementById("ped").value==''){
  document.getElementById("btn_rec").disabled=true;
    
     $("#btn_eliminar_rec").hide();
  }else{

  }
$( "#btn_rec" ).mousemove(function( event ) {
  
if(document.getElementById("fecha_recoleccion").value == '00-00-0000'){

    $("#btn_eliminar_rec").hide();
  }else{
    $("#btn_eliminar_rec").show();
  }

  if(document.getElementById("ped").value==''){

   // $("#btn_rec").prop("disabled",true);
    $("#btn_eliminar_rec").hide();
  }else{
    $.post("{{ path('consultar_rec') }}", {pedido:document.getElementById("ped").value}, function(mensaje) {
        $("#fecha_recoleccion").html(mensaje);
    $('#btn_rec').attr('title', 'Fecha de Recoleccion: ' + mensaje );
    if (mensaje=='00/00/0000'){
    $('#btn_rec').attr('title', 'Fecha de Recoleccion: Sin Asignar ');
    $("#btn_eliminar_rec").show();
    }
        
          });


  }
  });
  if (document.getElementById('inpst').value=='Archivado'){
    $("#archivo").hide();
    $("#botones_func").hide();
        $("#datos").hide();
        $("#btn_modificar").hide();
        $("#btn2_entregar").hide();
        $("#btn3_pagos").hide();
        $("#btn4").hide();
        $("#btn_orden").hide();
        $("#btn6cancelar").hide();
        $("#btnarchivar").hide();

$("#btn").hide();
    $("#btn4").hide();


  }else{
    $("#archivo").hide();
  }
 // $.post("{{ path('actualiza_estado') }}", {},
 //      function(mensaje) {
 //              $("#txt3").html(mensaje);     
 //              //alert(mensaje);     
 //            });

            var hoy = new Date();
            var dd = hoy.getDate();
            var mm = hoy.getMonth()+1;
            var yyyy = hoy.getFullYear();

              if(dd<10) {
                  dd='0'+dd;
              } 
              if(mm<10) {
                  mm='0'+mm;
              } 
 
    hoy = dd+'/'+mm+'/'+yyyy;
    fecha1hoy = (hoy.substring(6,10)+ '/' + hoy.substring(3,6) +  hoy.substring(0,2));
    fecha2dev = (document.getElementById('fecha2').value.substring(6,10)+ '/' + document.getElementById('fecha2').value.substring(3,6) +  document.getElementById('fecha2').value.substring(0,2));
   
     mydate1 = new Date(fecha1hoy);
     day1 = mydate1.getDate();
     month1 = mydate1.getMonth()+1;
     year1 = mydate1.getFullYear();
      
          if(month1 <= 9){
              month1 = '0'+month1;
            }
            if(day1 <= 9){ 
            day1 = '0'+day1;
          }

      var mydate2 = new Date(fecha2dev);
      var day2 = mydate2.getDate();
      var month2 = mydate2.getMonth()+1;
      var year2 = mydate2.getFullYear();

      if(month2 <= 9){
              month2 = '0'+month2;
            }
            if(day2 <= 9){ 
            day2 = '0'+day2;
          }
        var fec1= year1+"-"+month1+"-"+day1;
        var fec2= year2+"-"+month2+"-"+day2;

        var fecha1 = new Date(fec1.substring(0,4)+ '-' + fec1.substring(5,7) + '-' + fec1.substring(8,10));
        var fecha2 = new Date(fec2.substring(0,4)+ '-' + fec2.substring(5,7) + '-' + fec2.substring(8,10));       
        var diferencia = 0;
        if(fecha2.valueOf()>fecha1.valueOf()){
          diferencia = fecha2.valueOf()-fecha1.valueOf();
        }else{
          diferencia = fecha1.valueOf()-fecha2.valueOf();
        }
         totaldiff= Math.round(diferencia/(1000*60*60*24));
         totaldiff= parseInt(totaldiff);

        if (document.getElementById('inpst').value=='Pendiente en Devolver'){
            if (totaldiff<=15){
               $("#semaforopedido").append("<img height='50' width='50' src='{{ asset('img/amarillo.png')}}'/>");
            }
             if (totaldiff>15 && totaldiff<=30){
               $("#semaforopedido").append("<img height='50' width='50' src='{{ asset('img/naranja.png')}}'/>");
            }
             if (totaldiff>=30){
                $("#semaforopedido").append("<img height='50' width='50' src='{{ asset('img/rojo.png')}}'/>");
            }
          }
            if (document.getElementById('inpst').value=='En Renta'){
               $("#semaforopedido").append("<img height='50' width='50' src='{{ asset('img/verde.png')}}'/>");
            }
            if (document.getElementById('inpst').value=='Completado'){
               $("#semaforopedido").append("<img height='50' width='50' src='{{ asset('img/azul.png')}}'/>");
            }
           

              pedido=document.getElementById("ped").value;

              $.post("{{ path('estado_pedido') }}", {pedido: pedido},
                function(mensaje) {
                  $("#txt3").html(mensaje);     
                  
                  if(mensaje=='Completado'){
                    document.getElementById('btnarchivar').disabled=false;
                  }
                });  

            if (document.getElementById('inpst').value=='Devuelto'){
              $("#semaforopedido").append("<img height='50' width='50' src='{{ asset('img/azul.png')}}'/>");

            }




                  
var boton='';
  if(document.getElementById('inptcot').value !=''){
    $("#lblpedido").hide();
    $("#ped").hide();
    $("#lblfolio").hide();
    $("#flio").hide();
    $("#btn_modificar").hide();
    $("#btn2_entregar").hide();
    $("#btn3_pagos").hide();
    $("#btn2_entregar").hide();
    $("#btn").hide();
    $("#btn4").hide();
    $("#btn_modificar").show();
    $("#btneliminarcotizacion").prop("disabled",false);
    if(document.getElementById('inpst').value=='En Renta'){
      $("#btn_orden").hide();
    }else{
      $("#btn_orden").show();
      $("#btn_orden").prop("disabled",false);

    }
  }else{
    $("#btn_orden").hide();
    $("#btneliminarcotizacion").hide();
    $("#lblcot").hide();
    $("#inptcot").hide();
  }
  function limpiar() {
   
   //document.getElementById('inptcot').value='';
   document.getElementById('inptcliente').value='';
   document.getElementById('combocta').value='';
   document.getElementById('flio').value='';
   document.getElementById('inpst').value='';
   document.getElementById('fecha1').value='';
   document.getElementById('fecha2').value='';
   document.getElementById('inpt1').value='';
   document.getElementById('inpt2').value='';
   document.getElementById('inpt3').value='';
   document.getElementById('inpt4').value='';
   document.getElementById('inpt5').value='';
   document.getElementById('sventrega').value='';
   document.getElementById('inpcom').value='';
   document.getElementById('inpdir').value='';
   $("#tbla").find("tr:gt(0)").remove();
  }

  $("#cot").change(function(){
        radiocotpd='Cotizacion';
        limpiar();       
        $("#botones_func").show();
        $("#datos").show();
        $("#btn_modificar").hide();
        $("#btn2_entregar").hide();
        $("#btn3_pagos").hide();
        $("#btn4").hide();
        $("#btn_orden").show();
        $("#inptcot").show();
        $("#lblcot").show();
        $("#btn6cancelar").hide();
        $("#btneliminarcotizacion").show();
        $("#span1").hide();
        $("#flio").hide();
        $("#ped").hide();
        $("#lblpedido").hide();
        $("#lblfolio").hide();
        $("#span2").show();
        $("#btn").prop("disabled",true);
        $("#calcular").prop("disabled",true);
        $("#tipoimp").hide();
      $("#lbltipoimp").hide();
        
  });


  $("#radioped").change(function(){
    //limpiar();
    $("#span1").show();
    $("#span2").hide();
      radiocotpd='Pedido';
      $("#btneliminarcotizacion").hide();
      $("#tipoimp").show();
      $("#lbltipoimp").show();
      
      $("#botones_func").show();
      $("#datos").show();
      $("#inptcot").hide();
      $("#lblcot").hide();
      $("#btn_orden").hide();
      $("#btn_modificar").show();
      $("#btn2_entregar").show();
      $("#btn3_pagos").show();
      $("#btn2_entregar").show();
      $("#btn6cancelar").show();
      $("#flio").show();
      $("#ped").show();
      $("#lblpedido").show();
      $("#lblfolio").show();
      $("#btn4").show();
      $("#btn").prop("disabled",true);
      $("#calcular").prop("disabled",true);
    });
    if(document.getElementById('inpt1').value!=0){
   //   document.getElementById('calcular').disabled=false;
    }
   $("#fecha2").change(function () {
      
      if(document.getElementById('btn_modificar').disabled==false){
        //alert('');
       document.getElementById('btn').disabled=true;
      }
      if(document.getElementById('fecha1').value !='' && document.getElementById('inpst').value==''){
       document.getElementById('btn2').disabled=false;
      }

    if(document.getElementById('fecha1').value !='' && document.getElementById('inpst').value!=''){
   // document.getElementById('calcular').disabled=false;
    fecha11 = document.getElementById('fecha1').value;
    fecha22 = document.getElementById('fecha2').value;
    fecha1hoy = (fecha11.substring(6,10)+ '/' + fecha11.substring(3,6) +  fecha11.substring(0,2));
    fecha2dev = (fecha22.substring(6,10)+ '/' + fecha22.substring(3,6) +  fecha22.substring(0,2));
   
     mydate1 = new Date(fecha1hoy);
     day1 = mydate1.getDate();
     month1 = mydate1.getMonth()+1;
     year1 = mydate1.getFullYear();
      
          if(month1 <= 9){
              month1 = '0'+month1;
            }
            if(day1 <= 9){ 
            day1 = '0'+day1;
          }

      var mydate2 = new Date(fecha2dev);
      var day2 = mydate2.getDate();
      var month2 = mydate2.getMonth()+1;
      var year2 = mydate2.getFullYear();

      if(month2 <= 9){
              month2 = '0'+month2;
            }
            if(day2 <= 9){ 
            day2 = '0'+day2;
          }
        var fec1= year1+"-"+month1+"-"+day1;
        var fec2= year2+"-"+month2+"-"+day2;

        var fecha1 = new Date(fec1.substring(0,4)+ '-' + fec1.substring(5,7) + '-' + fec1.substring(8,10));
        var fecha2 = new Date(fec2.substring(0,4)+ '-' + fec2.substring(5,7) + '-' + fec2.substring(8,10));       
        var diferencia = 0;
        if(fecha2.valueOf()>fecha1.valueOf()){
          diferencia = fecha2.valueOf()-fecha1.valueOf();
        }else{
          diferencia = fecha1.valueOf()-fecha2.valueOf();
        }
         totaldiff= Math.round(diferencia/(1000*60*60*24));
         totaldiff= parseInt(totaldiff);
        
         pedido_1=document.getElementById('ped').value;
        if(document.getElementById('flio').value !='' && totaldiff != 0 ){
          document.getElementById('inpst').value='En Renta';
        }
        if(document.getElementById('flio').value !='' && totaldiff == 0 ){
        }

      var dto=0;
      var totalimp=0;
      var totalimp5=0;
      var totalimp4=0;
     
        for (var i=1;i<document.getElementById('tbla').rows.length;i++) { 
        var Referencia = document.getElementById('tbla').rows[i].cells[6].innerHTML;
        cantidad = document.getElementById('tbla').rows[i].cells[1].innerHTML;
        PU_1 = document.getElementById('tbla').rows[i].cells[5].innerHTML;
        document.getElementById('tbla').rows[i].cells[4].innerHTML=totaldiff;
        if (totaldiff==0){
          totalimp4= (cantidad*PU_1).toFixed(2); 
         }else{
          totalimp4= (cantidad*totaldiff*PU_1).toFixed(2); 
         } 
          document.getElementById('tbla').rows[i].cells[6].innerHTML=totalimp4;
          totalimp5= (parseFloat(totalimp5)+ parseFloat(totalimp4)).toFixed(2);
         }
         document.getElementById("inpt1").value= totalimp5;
         document.getElementById("inpt3").value=0;// (parseFloat(totalimp5) + parseFloat(dto)).toFixed(2);
         document.getElementById('inpt2').value=0;
         document.getElementById('inpt4').value=0;
         if(document.getElementById('sventrega').value==''){
          document.getElementById('sventrega').value=0;
         }
         
         document.getElementById('inpt5').value=0;
      }
      calcular2();
   });
    if(document.getElementById('btn_modificar').disabled==false){
      $("#datos").show();
      $("#radios").hide();
      $("#botones_func").show();
     // $("#btn_orden").hide();
      //$("#btn_detalles").hide();
      document.getElementById('btneliminarfila').disabled=true;
      document.getElementById('btn3').disabled=true;
      document.getElementById('btn2').disabled=true;
    }
    if(document.getElementById('flio').value !=''){
      document.getElementById('btn4').disabled=false;
      document.getElementById('btn3_pagos').disabled=false;
    }

    if (document.getElementById('inpt4').value=='' || document.getElementById('inpt4').value==0 ){
              document.getElementById("check").checked=false;
            }else{
              document.getElementById("check").checked=true;
            }

    $('#inpt2').on('input', function() {
      calcular2();
      
    });
    $('#sventrega').on('input', function() {
           calcular2();
    });
    $('#inptcliente').on('input', function() {

      var userText = $(this).val();
      validar();
      $("#categoryname").find("option").each(function() {
          if ($(this).val() == userText) {
            
          }
        })
    })
    // function limpiarclt() {
    //   if (document.getElementById('inptcliente').value=='') {
    //         clienterz='';
    //         var sel = document.getElementById("combocta");
    //         sel.remove(sel.selectedIndex);
    //        }
    //   }
  $("#bt").click(function(){
    if(document.getElementById("txtpu").value==''){
      alert('El Precio Unitario no esta Cargado Espere Un Momento o Vuelva Abrir la Ventana')
      exit();
    }
    if(document.getElementById("cnt").value ==0){
      alert('Debe Seleccionar una Cantidad mayor a Cero');
    }else{
       $('#tbla tbody tr').each(function(){
          var Referencia = $(this).find("td").eq(2).html();
          if (Referencia == document.getElementById("txt3").value){
            alert('Este Equipo ya esta Ingresado');
            exit();
          }
        });
             document.getElementById("btneliminarfila").disabled=false;
             document.getElementById("btn3").disabled=false;
             var dto=0;
             var dato1 = document.getElementById("cnt").value 
             var dato2 = document.getElementById("clave").value 
             var dato3 = document.getElementById("txt3").value 
             var dato4 = document.getElementById("txtpu").value

            if (document.getElementById("inpt4").value==''){
             document.getElementById("inpt4").value=0;
            }
            if (document.getElementById("sventrega").value==''){
             document.getElementById("sventrega").value=0;
            }

          if(dato1=='' && dato2=='' && dato3=='' && dato4=='' ){
            alert('Debe llenar todos los campos');
          }else{
          document.getElementById("inpt2").value=0

          
          if (totaldiff==0){
            importe= dato1*dato4;  
          }else{
            importe= dato1*totaldiff*dato4;  
          }
          
          suma = (parseFloat(suma) + parseFloat(importe));
          var conDecimal = importe.toFixed(2); 
          $('#tbla').append("<tr><td style='text-align: center;'><input id='chek' type='radio' name='r1'></td><td style='text-align: center;'>"+dato1+"</td><td style='text-align: center;'>"+dato3+"</td><td style='text-align: center;'>"+dato2+"</td><td style='text-align: center;'>"+totaldiff+"</td><td style='text-align: center;'>"+dato4+"</td><td style='text-align: center;'>"+conDecimal+"</td></tr>");  
          }
       var totalimp=0;
       $('#tbla tbody tr').each(function(){
          var Referencia = $(this).find("td").eq(6).html();
          totalimp= parseFloat(totalimp)+ parseFloat(Referencia);
          document.getElementById("inpt1").value= totalimp;
        });
       document.getElementById('btn3').disabled=false;
       $('#myModal').modal('hide');
       fila='';
    }
     // if(document.getElementById('fecha1').value!='' && document.getElementById('fecha2').value!=''){
     //  document.getElementById("calcular").disabled=false;
     // }
       if(document.getElementById('fecha1').value!='' && document.getElementById('fecha2').value!='' && document.getElementById('inpt5').value!=''){
        document.getElementById("btn").disabled=false;

       }
       calcular2();
      });
     
        $("#tbla").delegate("tr", "click", function(e) {
          fila=($(e.currentTarget).index() + 1);
          });
         $("#tbldev").delegate("tr", "click", function(e) {
           fila=($(e.currentTarget).index() + 1);
         });
      });
    
 function cancelarped(){
        var statusConfirm =(confirm("Desea Eliminar este Pedido?"))
        if (statusConfirm == true){ 
           var pedido3=document.getElementById('ped').value;
           var person = prompt("Escriba el Siguiente Código para Confirmar:  *1234#");
            if (person=='*1234#'){
              var razoncanc = 'ss';
         $("#gif").show();      
      
        $.post("{{ path('cancelar_pedido') }}", {pedido: pedido3, razoncanc:razoncanc},
       function(mensaje) {
          alert(mensaje);
       });   
               
           }else{
             alert('El Código es Incorrecto');
           }

   
           var statusConfirm =(confirm("Desea Crear un Nuevo Pedido?"))
      if (statusConfirm == true){
        location.href=("{{ path('pedidos_detalles', { 'id': 0 }) }}");
      }else{
        location.href=("{{ path('inicio_detalles') }}");
      }
      }else{
        alert('El Pedido no Ha Sido Eliminado');
      }
    }  
     $( function() {
       $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
 };

 $.datepicker.setDefaults($.datepicker.regional['es']);
      $('input[type=radio][name=radio_pago]').change(function() {
        alert('Campo correcto');
     });

       if(document.getElementById('flio').value=='' && document.getElementById('inpst').value!='' ){
          document.getElementById('btn2_entregar').disabled=false;
         } else{
          document.getElementById('btn2_entregar').disabled=true;
         }     

$("#fecha_recoleccion" ).datepicker();
      $("#fecha2" ).datepicker();
      $("#fechaemis" ).datepicker();
      $("#inpfecdevol" ).datepicker();
      $("#fechadev" ).datepicker();
      $("#fechainicio" ).datepicker();
      $("#fecha1" ).datepicker();
      $("#fecha1").datepicker('option', { dateFormat: "dd/mm/yy" });
      $("#fecha2").datepicker('option', { dateFormat: "dd/mm/yy" });
    } );
var idpd=0,importe=0,descuento=0,totaldesc=0,subtotal2=0,cant,suma=0,dias,totaldiff=0,PU,importe,equipo,clave,fila='',cliente,cantidad,equipo_2,clv,dias_1,PU_1,total_pedido=0,importe_1,cuenta,fecha_1,fecha_2,status,pedido_1,folio_1,descuento_1,total,descto_1=0,impuesto,subtotal2_total=0,direccion_entrega,comentario_1,subtotal_1,subtotal_2,cant_dev=0,cantd_entr=0,cant_eq=0,equip='',clav,fila;      

function abrirmodalfac(){ 
  var pedid = document.getElementById("ped").value;
  $("#gif").show();
    var url=("{{ path('pagos', { 'id':'ped' }) }}");
     url = url.replace("ped", pedid);
        $.ajax({
            dataType: "html",
            url: url,
            type: "POST",
            data: {pd: pedid},
            success: function(data)
            {
             location.href=url;   
            }
        });    
}

  function modificar_pedido(){
      var statusConfirm =(confirm("Desea Enviar las Modificaciones?"))
      if (statusConfirm == true){ 
        
        var pedido_id = $("input#ped").val();
        var fecha11 = document.getElementById('fecha1').value;
        var fecha22 = document.getElementById('fecha2').value;
       for (var i=1;i<document.getElementById('tbla').rows.length;i++) { 
             cantidad=document.getElementById('tbla').rows[i].cells[1].innerHTML;
             equipo_2=document.getElementById('tbla').rows[i].cells[2].innerHTML;
             clv=document.getElementById('tbla').rows[i].cells[3].innerHTML;
             dias_1=document.getElementById('tbla').rows[i].cells[4].innerHTML;
             importe=document.getElementById('tbla').rows[i].cells[6].innerHTML;
             PU_1=document.getElementById('tbla').rows[i].cells[5].innerHTML;
             cliente=document.getElementById('inptcliente').value;
             cuenta=document.getElementById('combocta').value;
             status=document.getElementById('inpst').value;
             pedido_1=document.getElementById('ped').value;
             folio_1=document.getElementById('flio').value;
             subtotal_1=document.getElementById('inpt1').value;
             subtotal_2=document.getElementById('inpt3').value;
             descuento_1=document.getElementById('inpt2').value;
             impuesto=document.getElementById('inpt4').value;
             sv=document.getElementById('sventrega').value;
             
             total=document.getElementById('inpt5').value;
             direccion_entrega=document.getElementById('inpdir').value;
             comentario_1=document.getElementById('inpcom').value;

            $("#gif").show();
             $.post("{{ path('modificar_pedido') }}", {cot:document.getElementById('inptcot').value,cantidad: cantidad, equipo_2:equipo_2, clv:clv, dias_1:totaldiff,PU_1:PU_1, importe:importe, cliente:cliente, cuenta:cuenta, fecha_1:fecha11,fecha_2:fecha22,status:status, pedido_1:pedido_1,folio_1:folio_1,subtotal_1:subtotal_1, subtotal_2:subtotal_2,descuento_1:descuento_1,impuesto:impuesto,total:total,direccion_entrega:direccion_entrega,comentario_1:comentario_1,sv:sv },
              function(mensaje) {
                  $("#txt3").html(mensaje);          
              });
            }

         alert('Registros Modificados');
         location.reload();
      }else{
        alert('Procedimiento Cancelado');
      }
      

}

  function devoluciones(){
var pedid = document.getElementById("ped").value;
$("#gif").show();
    var url=("{{ path('detalles_devoluciones', { 'pd':'ped' }) }}");
     url = url.replace("ped", pedid);
        $.ajax({
            dataType: "html",
            url: url,
            type: "POST",
            data: {pd: pedid},
            success: function(data)
            {
             location.href=url;   
            }
        });    
    }

       function imprimir(){
        if($('#inptcot').css('display') == 'none'){

  if ($('select[name="tipoimp"] option:selected').text() =='Formato Ticket'){

if (document.getElementById('inpst').value=='Archivado'){
             var pedido_id = $("input#ped").val();
           window.open("reportepedidoarchivo/"+pedido_id);   
          }else{
            var pedido_id = $("input#ped").val();
           window.open("reporteticket/"+pedido_id);  
          }
  }else{
    if (document.getElementById('inpst').value=='Archivado'){
             var pedido_id = $("input#ped").val();
           window.open("reportepedidoarchivo/"+pedido_id);   
          }else{
            var pedido_id = $("input#ped").val();
           window.open("reportepedido/"+pedido_id);  
          }
  }

          
          
        }else{
           var cotizacion_id = $("input#inptcot").val();
           var cot = document.getElementById("inptcot").value;
           var url=("{{ path('imprimir_cotizaciones', { 'cotizacion':'xxx' }) }}");
           url = url.replace("xxx", cot);
           window.open(url);
             
        }
         
       }
       function eliminarespacios(input,elemento){
        input=input.replace(/\s+/gi,' ');
        input=input.trim();
        document.getElementById(elemento).value=input;
       }


       function validando(){
        $("#gif").show();
         var statusConfirm =(confirm("Desea Enviar el registro?"))
         if (statusConfirm == true){ 
      
        $pas=0;
        eliminarespacios(document.getElementById('inptcliente').value,'inptcliente');
        eliminarespacios(document.getElementById('combocta').value,'combocta');

        $.post("{{ path('validacion_datos') }}", {cliente:document.getElementById('inptcliente').value, cuenta:document.getElementById('combocta').value}, function(mensaje) {
            if (mensaje==1){
              alert('El Cliente no Esta Registrado');
              $pas=1
            }
            if (mensaje==2){
              alert('La Cuenta no Esta Registrada');
              $pas=2
            }
              if ($pas == 0){
             
             
              }

         });

          $.post("{{ path('ultpedido') }}", {}, function(mensaje) {
              $("#txtpu").html(mensaje);
              
                xd(mensaje);
                $("#gif").hide();    
                alert('Registrado');
                
                document.getElementById('ped').value=mensaje;
              });

          }
          
       }

        // function ultpedido() {

          
        //  $("#gif").show();
        //    $.post("{{ path('ultpedido') }}", {cliente:document.getElementById('inptcliente').value,obra:document.getElementById('combocta').value,radio:radiocotpd}, function(mensaje) {
        //       $("#txtpu").html(mensaje);
        //       if(radiocotpd=='Pedido'){
        //         document.getElementById('ped').value=(parseInt(mensaje[0]['pedido']) + parseInt(1));            
        //         //dato=document.getElementById('ped').value;
        //       }else{

        //       document.getElementById('inptcot').value=mensaje;            
        //       dato=document.getElementById('inptcot').value;
        //       $("#btn_modificar").show();
        //       $("#btneliminarcotizacion").prop("disabled",false);
        //       }

        //       xd(id);
        //      $("#gif").hide();
        //    });
        // }
     
  function xd(id) {


     
    var fechados = document.getElementById('fecha2').value
    var fechauno = document.getElementById('fecha1').value

    var fecuno = (fechauno.substring(6,10)+ '/' + fechauno.substring(3,6) +  fechauno.substring(0,2));
    var fecdos = (fechados.substring(6,10)+ '/' + fechados.substring(3,6) +  fechados.substring(0,2));

    var mydate2 = new Date(fecdos);
    var day2 = mydate2.getDate();
    var month2 = mydate2.getMonth()+1;
    var year2 = mydate2.getFullYear();

    var mydate1 = new Date(fecuno);
    var day1 = mydate1.getDate();
    var month1= mydate1.getMonth()+1;
    var year1 = mydate1.getFullYear();
     
    var fec1= year1+"-"+month1+"-"+day1;
    var fec2= year2+"-"+month2+"-"+day2;
    var f1 = new Date(year1, month1, day1);
    var f2 = new Date(year2, month2, day2);
    var pas='';
    var pas1='';
    var pas2='';

    if (year2 < year1){
    alert ("La fecha introducida es anterior a Fecha de Entrega");
    exit();
    }
    else{
        if (year2 == year1 && month2 < month1){
            alert ("La fecha introducida es anterior a Fecha de Entrega");
            exit();
        }
        else{
            if (year2 == year1 && month2 == month1 && day2 < day1){
             alert ("La fecha introducida es anterior a Fecha de Entrega");
             exit();
            }
        }
    }
      if($("#combocta option:selected").val() == 0) {
       alert("Debe Seleccionar una Cuenta");
        return false;
      }
  if (document.getElementById('inpt5').value =="" || document.getElementById('inptcliente').value =="" ){
        alert('Debe Completar todos los Campos');
      }else{
  //var statusConfirm =(confirm("Desea Enviar el registro?"))
  document.getElementById('btn_modificar').disabled=true;

   //if (statusConfirm == true){ 

      document.getElementById('inpst').value='Pedido';
      document.getElementById('btn_modificar').disabled=false;
      document.getElementById('btn2_entregar').disabled=false;
      document.getElementById('btn5').disabled=false;
      document.getElementById('btn6cancelar').disabled=false;
      document.getElementById('btneliminarfila').disabled=true;
      document.getElementById('btn3').disabled=true;
      document.getElementById('btn2').disabled=true;
      document.getElementById('inpst').value='En Renta';
      //dato=document.getElementById('ped').value;
      // registrar aqui el pedido padre.
      for (var i=1;i<document.getElementById('tbla').rows.length;i++) { 
           
        $.post("{{ path('registrar_pedidos') }}", {cot:document.getElementById('inptcot').value,radio:radiocotpd, cantidad: document.getElementById('tbla').rows[i].cells[1].innerHTML, equipo_2:document.getElementById('tbla').rows[i].cells[2].innerHTML, clv:document.getElementById('tbla').rows[i].cells[3].innerHTML, dias_1:document.getElementById('tbla').rows[i].cells[4].innerHTML,PU_1:document.getElementById('tbla').rows[i].cells[5].innerHTML, importe:document.getElementById('tbla').rows[i].cells[6].innerHTML, cliente:document.getElementById('inptcliente').value, cuenta:document.getElementById('combocta').value, fecha_1:document.getElementById('fecha1').value,fecha_2:document.getElementById('fecha2').value,status:document.getElementById('inpst').value, pedido_1:id,folio_1:document.getElementById('flio').value.trim(),subtotal_1:document.getElementById('inpt1').value, subtotal_2:document.getElementById('inpt3').value,descuento_1:document.getElementById('inpt2').value,impuesto:document.getElementById('inpt4').value,total:document.getElementById('inpt5').value,direccion_entrega:document.getElementById('inpdir').value,comentario_1:document.getElementById('inpcom').value, sventr:document.getElementById('sventrega').value,f:new Date() }, function(mensaje) {
            $("#txtpu").html(mensaje);
          });
        }
      document.getElementById('porpg').innerHTML =  document.getElementById('inpt5').value;
      if (radiocotpd=='Cotizacion'){
            document.getElementById('btn_orden').disabled=false;  
            document.getElementById('inpst').value='Cotización';
            }
            
      //alert("Datos Registrados");

      document.getElementById('btn').disabled=true;
      
      //  }
      }
    }
function eliminarfila(){
        if (fila==''){
          alert('Debe Seleccionar Una Fila')
        }else{
        var statusConfirm =(confirm("Desea borrar el registro?"))
         if (statusConfirm == true){ 
            document.getElementById("tbla").deleteRow(fila);
            if (document.getElementById("inpt1").value==0){
             var dto=0;
            }else{
              var dto=document.getElementById("inpt2").value;
            }
             var totalimp=0;
             $('#tbla tbody tr').each(function(){
              var Referencia = $(this).find("td").eq(6).html();
              totalimp= parseFloat(totalimp)+ parseFloat(Referencia);
             });
             if (totalimp==0){
              document.getElementById("sventrega").value=0;
              document.getElementById("inpt2").value=0;
              document.getElementById("inpt3").value=0;
              document.getElementById("inpt5").value=0;
              subtotal2_total=0;
              totaldesc=0;
              dto=0;
               }else{
                totaldesc= (parseFloat(document.getElementById("inpt1").value) * parseFloat(dto) / 100);
               }
             document.getElementById("inpt1").value= totalimp;
              subtotal2_total= (parseFloat(totalimp) - parseFloat(totaldesc));
              
              document.getElementById("inpt3").value=subtotal2_total;
              total_pedido= (parseFloat(subtotal2_total) + parseFloat(document.getElementById("inpt4").value)+ parseFloat(document.getElementById("sventrega").value));
              document.getElementById("inpt5").value= total_pedido;
            alert('Registro Eliminado');
            if(document.getElementById("inpt1").value==0){

              document.getElementById('btn').disabled=true;
              document.getElementById('btneliminarfila').disabled=true;
              document.getElementById('btn3').disabled=true;
            }
            fila='';
        }else {
          alert('Transaccion Cancelada');
          }
          calcular2();
        }

    }
 function abrirmodal_folio(){

    document.getElementById('btn').disabled=true;
    document.getElementById('btn5').disabled=false;
    
    $('#myModal-folio').modal('show');
  }
function abrirmodal(){
    document.getElementById("cnt").value ='';
      document.getElementById("clave").value ='';
      document.getElementById("txt3").value='';
      document.getElementById("txtpu").value='';
      


   var fecha11 = document.getElementById('fecha1').value;
   var fecha22 = document.getElementById('fecha2').value;
   if (fecha11=='' && fecha22=='' || document.getElementById('inptcliente').value=='' || document.getElementById('combocta').value=='' ){
    alert('Debe rellenar todos los campos');
   }else{
      var fecha1hoy = (fecha11.substring(6,10)+ '/' + fecha11.substring(3,6) +  fecha11.substring(0,2));
      var fecha2dev = (fecha22.substring(6,10)+ '/' + fecha22.substring(3,6) +  fecha22.substring(0,2));
      var mydate1 = new Date(fecha1hoy);
      var day1 = mydate1.getDate();
      var month1 = mydate1.getMonth()+1;
      var year1 = mydate1.getFullYear();
      
          if(month1 <= 9){
              month1 = '0'+month1;
            }
            if(day1 <= 9){ 
            day1 = '0'+day1;
          }

      var mydate2 = new Date(fecha2dev);
      var day2 = mydate2.getDate();
      var month2 = mydate2.getMonth()+1;
      var year2 = mydate2.getFullYear();

      if(month2 <= 9){
              month2 = '0'+month2;
            }
            if(day2 <= 9){ 
            day2 = '0'+day2;
          }
      var fec1= year1+"-"+month1+"-"+day1;
      var fec2= year2+"-"+month2+"-"+day2;
      var fecha1 = new Date(fec1.substring(0,4)+ '-' + fec1.substring(5,7) + '-' + fec1.substring(8,10));
      var fecha2 = new Date(fec2.substring(0,4)+ '-' + fec2.substring(5,7) + '-' + fec2.substring(8,10));
        var diferencia = 0;
        if(fecha2.valueOf()>fecha1.valueOf()){
          diferencia = fecha2.valueOf()-fecha1.valueOf();
        }else{
          diferencia = fecha1.valueOf()-fecha2.valueOf();
        }
        totaldiff= Math.round(diferencia/(1000*60*60*24));
        
        $('#myModal').modal('show');
   }
}
function agregarfilamodf(){
      document.getElementById("tbla").deleteRow(fila);
      var fecha11 = document.getElementById('fecha1').value;
      var fecha22 = document.getElementById('fecha2').value;
      var dato1 = document.getElementById("cnt1").value 
      var dato2 = document.getElementById("clave1").value 
      var dato3 = document.getElementById("txt31").value 
      var dato4 = document.getElementById("txtpu1").value 
          importe= dato1*dato4;
      var mydate1 = new Date(fecha11);
      var day1 = mydate1.getDate();
      var month1 = mydate1.getMonth()+1;
      var year1 = mydate1.getFullYear();
      var fec1= year1+"-"+month1+"-"+day1;
      var mydate2 = new Date(fecha22);
      var day2 = mydate2.getDate();
      var month2 = mydate2.getMonth()+1;
      var year2 = mydate2.getFullYear();
      var fec2= year2+"-"+month2+"-"+day2;
      var fecha1 = new Date(fec1.substring(0,4)+ '-' + fec1.substring(5,7) + '-' + fec1.substring(8,10));
      var fecha2 = new Date(fec2.substring(0,4)+ '-' + fec2.substring(5,7) + '-' + fec2.substring(8,10));
        var diferencia = 0;
        if(fecha2.valueOf()>fecha1.valueOf()){
          diferencia = fecha2.valueOf()-fecha1.valueOf();
        }else{
          diferencia = fecha1.valueOf()-fecha2.valueOf();
        }
        
        totaldiff= Math.round(diferencia/(1000*60*60*24));
        //totaldiff= parseInt(totaldiff)-1;
        
        if (totaldiff==0){
          importe= parseFloat(dato1)*parseFloat(dato4); 
         }else{
          importe= parseFloat(dato1)*parseFloat(totaldiff)*parseFloat(dato4); 
         } 
      $('#tbla').append("<tr><td><input id='chek' type='radio' name='r1'></td><td>"+dato1+"</td><td>"+dato3+"</td><td>"+dato2+"</td><td>"+totaldiff+"</td><td>"+dato4+"</td><td>"+importe+"</td></tr>");

      if (document.getElementById("inpt1").value==0){
       var dto=0;
      }else{
        var dto=document.getElementById("inpt2").value;
      }

       var totalimp=0;
       $('#tbla tbody tr').each(function(){
        var Referencia = $(this).find("td").eq(6).html();
        totalimp= parseFloat(totalimp)+ parseFloat(Referencia);
      });
       document.getElementById("inpt1").value= totalimp;
        subtotal2_total= (parseFloat(totalimp) + parseFloat(dto));

        document.getElementById("inpt3").value=subtotal2_total;
        
        total_pedido= (parseFloat(subtotal2_total) + parseFloat(document.getElementById("inpt4").value) + parseFloat(document.getElementById("sventrega").value));
        document.getElementById("inpt5").value= total_pedido;
      alert('Equipo Modificado');
      $('#myModal-modificar').modal('hide');
      fila='';
    }

    function registrar_recolecciones(){

        if (document.getElementById("fecha_recoleccion").value ==''){
          alert('Seleccione una Fecha para Programar la Recolección');

        }else{
            $.post("{{ path('registrar_recoleccion') }}", {pedido:document.getElementById("ped").value,fecha:document.getElementById("fecha_recoleccion").value}, function(mensaje) {
          });
         alert('Recoleccion Programada');   
         $('#myModalrecolecciones').modal('hide');
         //document.getElementById('btn_rec').disabled=true;
        }
    }

    function recoleccion(){
      $("#gifcargando").show();
      //document.getElementById("fecha_recoleccion").value='Sin Asignar';
       $.post("{{ path('consultar_rec') }}", {pedido:document.getElementById("ped").value}, function(mensaje) {
        $("#fecha_recoleccion").html(mensaje);
        document.getElementById("fecha_recoleccion").value=mensaje;
        $("#gifcargando").hide();
          });
      $('#myModalrecolecciones').modal('show');
      //
    }


  function modificar(){
    if (fila==''){
      alert('Debe seleccionar una fila')
    }else{
    $('#myModal-modificar').modal('show');
      document.getElementById("cnt1").value =cant;
      document.getElementById("clave1").value =clave
      document.getElementById("txt31").value =equipo;
      document.getElementById("txtpu1").value =PU;

    }
      
    }
      
    function buscar1() {
      var cont=0;
        var textoBusqueda = $("input#clave").val();
        if (textoBusqueda != "") {
          $.post("{{ path('buscar_datos') }}", {valorBusqueda: textoBusqueda}, function(mensaje) {
          $("#txt3").html(mensaje);
           if(mensaje[0]["equipo2"]=='N'){
              $("#equiponor").show();
              document.getElementById("txtpu").value='';
              document.getElementById("txt3").value='';
            }else{
          for (var i=0, total = mensaje.length; i < total; i++) {
            if(mensaje[i]["status"]=='Inactivo'){
              alert('Este Equipo esta Inactivo');
            }else{
              $("#equiponor").css("display", "none");
            document.getElementById("txt3").value=mensaje[i]["equipo2"];  
            document.getElementById("txtpu").value=mensaje[i]["precio"];  
            cont=0;
          }
        }
      }
          }); }else{
             document.getElementById("txt3").value='';
             document.getElementById("txtpu").value='';
          }
    }
  function buscar2() {
         var textoBusqueda = $("input#txt3").val();
      if (textoBusqueda != "") {
          $.post("{{ path('buscar_eq') }}", {valorBusqueda: textoBusqueda}, function(mensaje) {
          $("#txt3").html(mensaje);
          if(mensaje[0]["clave"]=='N'){
              $("#equiponor").show();
              document.getElementById("clave").value='';
              document.getElementById("txtpu").value='';
              document.getElementById("txt3").value='';
            }else{
          for (var i=0, total = mensaje.length; i < total; i++) {
             if(mensaje[i]["status"]=='Inactivo'){
              alert('Este Equipo esta Inactivo');
            }else{
              $("#equiponor").css("display", "none");
              document.getElementById("clave").value=mensaje[i]["clave"];  
              document.getElementById("txtpu").value=mensaje[i]["precio"]; 
                }
              }
            }
          });

        } 
     }
      function validar2(e) {
         tecla = (document.all) ? e.keyCode : e.which;
        if (tecla==13) {
          if (document.getElementById("inpt2").value == ''){
            document.getElementById("inpt2").value=0;
          }
          var sb=0;
          var total2=0;
          descuento=document.getElementById("inpt2").value;
          totaldesc= (parseFloat(document.getElementById("inpt1").value) * parseFloat(descuento) / 100);
          document.getElementById("inpt3").value= (parseFloat(document.getElementById("inpt1").value) - parseFloat(totaldesc));
          sb=document.getElementById("inpt3").value;
          total2 = (parseFloat(document.getElementById("inpt1").value) + parseFloat(totaldesc) + parseFloat(sb));
          document.getElementById("inpt5").value= (parseFloat(sb) +  parseFloat(document.getElementById("inpt4").value)+ parseFloat(document.getElementById("sventrega").value));

           if (document.getElementById("inpt4").value == ''){
            document.getElementById("inpt5").value= sb;
          }
        }
      }

      function validar3(e) {
         tecla = (document.all) ? e.keyCode : e.which;
        if (tecla==13) {
          if (document.getElementById("sventrega").value == ''){
            document.getElementById("sventrega").value=0;
          }
          var sb=0;
          var total2=0;
          entregasv=document.getElementById("sventrega").value;
          totaldesc= (parseFloat(document.getElementById("inpt1").value) * parseFloat(descuento) / parseFloat(100));
          document.getElementById("inpt5").value= (parseFloat(document.getElementById("inpt3").value)+ parseFloat(document.getElementById("sventrega").value)+ parseFloat(totaldesc) );
        }
      }
      function validar(e) {        
        $("#restriccion").css("display", "none");
                 var clienterz= document.getElementById("inptcliente").value;
                  if (clienterz != ''){

                  document.getElementById('fecha1').disabled=false;
                  document.getElementById('inpst').disabled=true;
                  document.getElementById('inpcom').disabled=false;
                  document.getElementById('inpdir').disabled=false;
                  document.getElementById("combocta").length=0;
                 // alert(clienterz);
                  $.post("{{ path('llenarcuentas') }}", {clienterz:clienterz}, function(mensaje) {
                  $("#txt3").html(mensaje);
                    if(mensaje[0]['restringir'] =='Restringido'){
                        $("#restriccion").show();
                        document.getElementById("inptcliente").value='';
                        document.getElementById("combocta").value='';
                    }else{
                    for (var i=0, total = mensaje.length; i < total; i++) {
                      $("#categoryname2").append("<option>"+mensaje[i]['cuenta_Id']+"</option>");
                    }
                  }
                });
              }
              // else{
              //   $("#restriccion").hide();
              // }
            }
            
        function registrar_folio(){
          
           var folio_rg= (document.getElementById('inpfolio1').value);
            if (folio_rg == ''){
              alert('Debe Ingresar el Folio');
            }else{

           document.getElementById('flio').value=folio_rg;
           document.getElementById('inpst').value='En Renta';

           var fechaactfl=document.getElementById('fecha1').value;
           var pedido_6= (document.getElementById('ped').value);
           var folio_rg = $("input#inpfolio1").val();
           var pedido_6 = $("input#ped").val();
           var status_entrega = document.getElementById('inpst').value;
           var totalsaldo = document.getElementById('inpt5').value;

         $("#gif").show();
            $('#tbla tbody tr').each(function(){
                var clave = $(this).find("td").eq(3).html();
                var equipo = $(this).find("td").eq(2).html();
                var cantidad = $(this).find("td").eq(1).html();
                $.post("{{ path('registro_folio') }}", {folio: folio_rg,pedido:pedido_6,fechaactfl:fechaactfl,status_entrega:status_entrega,clave:clave,equipo:equipo,cantidad:cantidad,total:totalsaldo}, function(mensaje) {

                  $("#txt3").html(mensaje);
                  
                  });
               });
          $('#gif').hide();
      
      
           alert('Pedido Entregado');
          
           document.getElementById('btn_rec').disabled=false;
           document.getElementById('btn3_pagos').disabled=false;
           document.getElementById('btn6cancelar').disabled=true;
           document.getElementById('btn2_entregar').disabled=true;
           document.getElementById('btn4').disabled=false;

           $('#myModal-folio').modal('hide');
          
           
         }
         
          
      }
  function llenardatalist(){
     $.post("{{ path('datalist') }}", function(mensaje) {
      $("#txt3").html(mensaje);
      for (var i=0, total = mensaje.length; i < total; i++) {
          $("#categoryname").append("<option>"+mensaje[i]['razonsocial']+"</option>");
      }
      });
   }

   function eliminarrec(){
    var statusConfirm =(confirm("Desea Eliminar esta Recoleccion?"))
      if (statusConfirm == true){ 
           $.post("{{ path('eliminar_recoleccion') }}", {pedido:document.getElementById('ped').value}, function(mensaje)  {
                    $("#txt3").html(mensaje);
                    
                 });
           alert('Recoleccion Eliminada');
           
           
            $('#myModalrecolecciones').modal('hide');
           document.getElementById("fecha_recoleccion").value='';
       }
      }
  function cancelar(){
    $('#myModal-devolucion').modal('hide');
  }
    $( function() {
      if (document.getElementById("flio").value=='' && document.getElementById("inpst").value !='' ){
       document.getElementById("btn6cancelar").disabled=false;
      }
    });
      function chek(){
            var total=0;
            if (document.getElementById("check").checked){
              calcular2();
                    totalimpuesto= parseFloat(document.getElementById('inpt3').value) * parseFloat(0.16);
                    document.getElementById('inpt4').value= totalimpuesto;
                    }else{
                      document.getElementById('inpt4').value=0;
                      document.getElementById('inpt4').disabled=true;
                      document.getElementById('inpt5').value=0;
                    }
      }
          function convertir() {

            document.getElementById('inpst').value='';
            radiocotpd='Pedido';
              $("#flio").show();
              $("#ped").show();
              $("#lblpedido").show();
              $("#lblfolio").show();
              $("#btn_orden").hide();
              $("#btneliminarcotizacion").hide();
              $("#botones_func").show();
              $("#btn2_entregar").show();
              $("#btn3_pagos").show();
              $("#btn4").show();
              $("#lblcot").hide();
              $("#inptcot").hide();
              $("#btn6cancelar").show();  
              $("#btn").show();
              $("#btn2_entregar").prop("disabled",true);

              $("#btn5").prop("disabled",true);
              $("#btn_modificar").prop("disabled",true);
              $("#btn2").prop("disabled",false);
              $("#btn").prop("disabled",false);
              $("#radioped").prop("checked", true);
          }
          function eliminarcot() {
            $.post("{{ path('eliminar_cotizacion') }}", {cotizaciones:document.getElementById('inptcot').value}, function(mensaje)  {
                $("#txt3").html(mensaje);
                alert(mensaje);
                location.href="{{ path('pedidos_detalles', { 'id': 0 }) }}";
             });
          }
          function archivar() {

            $("#gif").show();
             $.post("{{ path('archivar_pedido') }}", {pedido: document.getElementById('ped').value},
            function(mensaje) {
              $("#txt3").html(mensaje);  
             $("#gif").hide();
              alert(mensaje);
              var statusConfirm =(confirm("Desea Crear un Nuevo Pedido?"))
              if (statusConfirm == true){
                location.href=("{{ path('pedidos_detalles', { 'id': 0 }) }}");
              }else{
                  location.href=("{{ path('inicio_detalles') }}");
              }
            });   


          }
   

  function filterFloat(evt,input){
            validanumeros(input);
    // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
    var key = window.Event ? evt.which : evt.keyCode;    
    var chark = String.fromCharCode(key);
    var tempValue = input.value+chark;
    if(key >= 48 && key <= 57){
        if(filter(tempValue)=== false){
            return false;
        }else{       
            return true;
        }
    }else{
          if(key == 8 || key == 13 || key == 0) {     
              return true;              
          }else if(key == 46){
                if(filter(tempValue)=== false){
                    return false;
                }else{       
                    return true;
                }
          }else{
              return false;
          }
    }
}
function filter(__val__){
    var preg = /^([0-9]+\.?[0-9]{0,2})$/; 
    if(preg.test(__val__) === true){
        return true;
    }else{
       return false;
    }
    
}

function validanumeros(e){
    tecla = (document.all) ? e.keyCode : e.which;
    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
        
    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9-.]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
}
function modalbitacora() {
  document.getElementById("inputDemo").value='';
  $('#modalbit').modal('show');
  document.getElementById('agregarbit').disabled=false;
}
function agregarbitacora() {
   $.post("{{ path('agregar_bitacora') }}",{pedido:document.getElementById("ped").value,comentario:document.getElementById("inputDemo").value},  function(mensaje) {
                  $("#txt3").html(mensaje);          
                  location.reload();
              });
    
}

function detallesbitacora() {
 
}
    </script>

<style type="text/css">
   .loader2 {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('{{ asset('img/cargando3.gif')}}') 50% 50% no-repeat rgb(24, 25, 25);
    opacity: .9;
    text-align: center;

}
</style>
<div class="loader2" id="gif2" style="display: none;"><span style="color: white; font-size: 260%;">Por Favor, Espere unos Segundos...</span></div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <h2 id="lbl2" class="equipo" style="text-align: center" >Agregar Equipo</h2>
          <div>
            <span  id="equiponor" style="background-color:red; display: none; font-size: 150%; margin-left: 33%;">Equipo No Registrado</span>
            <br>
            <br>
            <br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label class="cantidad">Cantidad</label>&nbsp;<input id="cnt" class="cantxt" type="text" name="" size="5" onkeypress="return filterFloat(event,this);">
        <label id="lbl" class="clav" >Clave</label>&nbsp;<input id="clave" class="clavtxt" type="text" name="" size="5" onkeyup="buscar1();">
        <label id="lbl2" class="equipo">Equipo</label>&nbsp;<input id="txt3" class="equiptxt" type="text" name="textcl" size="10" onkeyup="buscar2();">
        <label class="pu" >PU</label>&nbsp;<input id="txtpu" class="putxt" type="text" name="" size="5">
        <br>
        <br>
        <br>
      <div class="btagregar" align="center">
        <input id="bt" class="btn btn-info btn-lg" type="button" value="Agregar">
      </div>
      <br>
      <br>
      </div>
      </div>
    </div>
  </div>
  <!-- MODAL FOLIO -->
  <div class="modal fade" id="myModal-folio" role="dialog" onchange="">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <h2 id="lbl2" class="equipo" style="text-align: center">Ingrese el Folio</h2>
       <br>
       <label style="display: block; text-align: center;" class="lblfol2">Folio Entrega:</label>
        <input style="display: block; margin: auto;" id="inpfolio1" class="" type="text" name="Folio_1" size="5">
        <br>
        <input style="display: block; margin: auto;" id="bt_foliorg" class="btn btn-info btn-lg" type="button" value="Registrar" onclick="registrar_folio();">
        <br>
      </div>
    </div>
  </div>
  {% set impcheked = '' %}
  {% set pedidoinput = 0 %}
        {% set folioinpt = 0 %}
        {% set pagado = 0 %}
        {% set porpagar = 0 %}
        {% set clienteinpt = 0 %}
        {% set fecharec = 0 %}
        {% set cuentainpt = 0 %}
        {% set fechainpt = 0 %}
        {% set devolucioninpt = 0 %}
        {% set statusinpt = 0 %}
        {% set sub1 = 0 %}
        {% set descuento = 0 %}
        {% set pagado = 0 %}
        {% set porpagar = 0 %} 
        {% set sub2 = 0 %}
        {% set impuesto = 0 %}
        {% set total = 0 %}
        {% set id_pd = 0 %}        
        {% set svent = 0 %}
        {% set comentarios = '' %}        
        {% set direccion = '' %}     
        {% set cotizacion = 0 %}
   {% if cot != 0 %}
  
      {% for cotizaciones in cotizaciones %}
        {% set cotizacion = cotizaciones.cotizacion %}
          {% set svent = cotizaciones.servicioentrega %}
          {% set clienteinpt = cotizaciones.cliente %}
          {% set comentarios = cotizaciones.comentarios %}
          {% set direccion = cotizaciones.direccion_entrega %}
          {% set cuentainpt = cotizaciones.obra %}
          {% set fechainpt = cotizaciones.fecha %}
          {% set devolucioninpt = cotizaciones.devolucion %}
          {% set statusinpt = cotizaciones.status %}
          {% set sub1 = cotizaciones.subtotal %}
          {% set descuento = cotizaciones.descuento %}
          {% set sub2 = cotizaciones.subtotal2 %}
          {% set impuesto = cotizaciones.impuesto %}
          {% set total = cotizaciones.total %}
          {% set id_pd = cotizaciones.id %}
      {% endfor %}
      {% else %}
        {% set cotizacion = '' %}
    {% if id != 0 %}

   
    {% for recolecciones in recolecciones %}
      {% set fecharec = recolecciones.fecha_recoleccion %}
    {% endfor %}
      {% for pedidos in datosequipos %}
          {% set pedidoinput = pedidos.pedido %}
          {% set pagado = pedidos.montototalpago %}
          {% set porpagar = pedidos.por_pagar %}
          {% set folioinpt = pedidos.folio %}
          {% set svent = pedidos.servicioentrega %}
          {% set clienteinpt = pedidos.cliente %}
          {% set comentarios = pedidos.comentarios %}
          {% set direccion = pedidos.direccion_entrega %}
          {% set cuentainpt = pedidos.cuenta %}
          {% set fechainpt = pedidos.fecha %}

          {% set devolucioninpt = pedidos.devolucion %}
          {% set statusinpt = pedidos.status %}
          {% set sub1 = pedidos.subtotal %}
          {% set descuento = pedidos.descuento %}
          {% set sub2 = pedidos.subtotal2 %}
          {% set impuesto = pedidos.impuesto %}
          {% set total = pedidos.total %}
          {% set id_pd = pedidos.id %}
     {% endfor %}

    {% else %}
              {% set fecharec = '' %}
              {% set id_pd = '' %}
              {% set clienteinpt   = '' %}
              {% set comentarios = '' %}        
              {% set direccion = '' %}        
              {% set folioinpt = '' %} 
              {% set folioinpt = '' %}
              {% set svent = '' %}
              {% set cuentainpt = '' %}
              {% set fechainpt = '' %}
              {% set devolucioninpt = '' %}
              {% set statusinpt = '' %}
              {% set sub1 = '' %}
              {% set descuento = '' %}
              {% set sub2 = '' %}
              {% set impuesto = '' %}
              {% set total = '' %}
  {% endif %}
 {% endif %}
{% if impuesto != 0 %}
  {% set impcheked = 'checked=true' %}
{% endif %}
 <input id="id_pedido" type="" name="" value="" style="visibility: hidden;" >
 <input id="id_dev" type="" name="" value=""  style="visibility: hidden;">
<!-- RECOLECCIONES -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="modal fade" id="myModalrecolecciones" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <h2 id="lbl2"  style="text-align: center" >Programar Recolección</h2>
          <div>
            <br>
            <br>
            <div style="text-align: center;">
              
       <label  class="cantidad">Fecha de Recolección</label>&nbsp;<input id="fecha_recoleccion" class="cantxt" type="text" name="" size="10" value="{{ fecharec|date('d/m/Y') }}"> <img id="gifcargando" class="logo" src="{{ asset('img/Loading_icon.gif')}}" style="width: 15%;" hidden="hidden">
       </div>
        <br>
      <div align="center">
            
        <input id="btn_recoleccion" class="btn btn-info btn-lg" type="button" value="Programar Recolección" onclick="registrar_recolecciones();">     
         <button class="btn btn-danger btn-lg" id="btn_eliminar_rec" type="button" onclick="eliminarrec();">Limpiar<span class="glyphicon glyphicon-trash"></span></button></button>
      </div>
      <br>
      </div>
      </div>
    </div>
  </div>

        <!-- MODAL MODIFICAR -->
  <div class="modal fade" id="myModal-modificar" role="dialog" onchange="">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <h2 id="lbl2" class="equipo" style="text-align: center">Modificar Equipo</h2>
            <br>
            <br>
            <br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="cantidad">Cantidad</label><input id="cnt1" class="cantxt" type="text" name="" size="5">
        <label id="lbl" class="clav" >Clave</label>&nbsp;<input id="clave1" class="clavtxt" type="text" name="" size="5">
        <label id="lbl2" class="equipo">Equipo</label>&nbsp;<input id="txt31" class="equiptxt" type="text" name="textcl" size="10">
      <label class="pu" >PU</label>&nbsp;<input id="txtpu1" class="putxt1" type="text" name="" size="5">
        <br>
        <br>
        <br>
      <div class="btagregar" align="center">
        <input id="bt" class="btn btn-info btn-lg" type="button" value="Modificar" onclick="agregarfilamodf();">
      </div>
        <br>
        <br>
      </div>
    </div>
  </div>

<div class="container">
  <fieldset style="display: block;margin: auto; text-align: center; margin-top: -2%;" >
    <legend id="semaforopedido" style="text-align: center; color: blue;"> DATOS DE LA RENTA/COTIZACION <span class="glyphicon glyphicon-pencil"></span><span id="archivo" style="color: red; display: none;">ARCHIVADO</span></legend> 
    <div id="radios">
        <label style="font-size: 150%;"><input type="radio" name="rad" id="radioped" value="1" >Renta <span id="span1" style="color: blue; display: none;" class="glyphicon glyphicon-pencil"></span></label>
        <label style="font-size: 150%;"><input type="radio" name="rad" id="cot" value="2">Cotización <span id="span2" style="color: blue; display: none;" class="glyphicon glyphicon-pencil"></span></label>
    </div>
    <div id="datos" hidden="hidden">
      
      <label class="label1" for="pedido" id="lblpedido">Renta</label><input id="ped" type="text" name="pedido" disabled="true" value="{{pedidoinput}}">
      <label class="label2" for="folio" id="lblfolio">Folio</label><input id="flio" type="text" name="folio" value="{{ folioinpt }}" disabled></input>
      <label class="label3">Cliente</label>
      <span  id="restriccion" style="background-color:red; display: none">RESTRINGIDO</span>
      <input type="text" id="inptcliente" autocomplete="off" list="categoryname"  value="{{ clienteinpt }}" {{estado}}></input>

      <script type="text/javascript">
        llenardatalist();
      </script>

      <datalist id="categoryname">
      </datalist>
      <label id="lblcta" class="label4" for="cuenta">Obra</label>
      <input type="text" id="combocta" autocomplete="off" list="categoryname2" value="{{ cuentainpt }}" {{estadoobra}}> 
      <br>
      <br>
      <datalist id="categoryname2">
      </datalist>

      <label class="label5" for="fecha">Fecha </label><input id="fecha1" type="text" name="fecha" value="{{ fechainpt }}" readonly="readonly" > 
      <label class="label6" for="devolucion">Devolución </label><input id="fecha2" class="dev" size="16" type="text" name="devolucion" value="{{ devolucioninpt }}" readonly="readonly" >
      <label class="label7" for="status">Status </label><input id="inpst" class="status" size="19" type="text" name="status" value="{{ statusinpt }}" disabled="true"> 
      <label id="lblcot">Cotización</label><input type="text" id="inptcot" disabled="true" value="{{cotizacion}}">
      <label id="lbltipoimp">Tipo de Impresión</label>

      <select id="tipoimp" name="tipoimp">
        <option value="1">Formato Ticket</option>
        <option value="2">Formato Completo</option>
      </select>
    </div>
      

      </div>
    </fieldset>

    <div class="container" id="botones_func" style="text-align: center; margin-top: 2%; height: 15px;" hidden="hidden">
        <button class="btn btn-warning" id="btn_modificar" type="submit" value="Modificar Pedido" onclick="modificar_pedido();" style="margin-top: -1px" {{botones}}> Modificar<span class="glyphicon glyphicon-wrench"></span></button></button>
        <button class="btn btn-primary" id="btn" type="submit" value="Crear" onclick="validando();" disabled="true" {{botones}}> Crear <span class="glyphicon glyphicon-floppy-open"></span></button>
       
        <button class="btn btn-primary" id="btn2_entregar" type="submit" value="Entregar" onclick="abrirmodal_folio()" {{botones}} >Entregar <span class="glyphicon glyphicon-send"></span></button>
          <button class="btn btn-primary" id="btn_rec" type="submit" onclick="recoleccion();" data-toggle="tooltip" data-placement="top" title=""> Programar Recoleccion <span class="glyphicon glyphicon-floppy-open" disabled="true" ></span></button>
        <button class="btn btn-info" id="btn3_pagos" type="submit" value="$" onclick="abrirmodalfac();" {{botones}} disabled="true" > Pagos/Cargos  <span class=" glyphicon glyphicon-usd"></span></button>
        <button class="btn btn-info" id="btn4" type="submit" value="Devoluciones" onclick="devoluciones();" {{botones}} disabled="true" >Devoluciones  <span class="glyphicon glyphicon-retweet"></span></button>
        <button class="btn btn-info" id="btn5" type="submit"  onclick="imprimir()" style="margin-top: -1px" {{botones}}>Imprimir  <span class="glyphicon glyphicon-print"></span></button>

        <button class="btn btn-danger" id="btn6cancelar" type="submit" onclick="cancelarped();" style="margin-top: -1px" {{botones}}>Eliminar <span class="glyphicon glyphicon-trash" ></span></button>
         <button class="btn btn-danger" id="btnarchivar" type="submit" onclick="archivar();" style="margin-top: -1px" >Archivar <span class="glyphicon glyphicon-floppy-disk"></span></button>
        <button class="btn btn-info" id="btn_orden" type="submit" onclick="convertir();" {{botones}} disabled="true" >Convertir en Pedido <span class="glyphicon glyphicon-retweet"></span></button>
        <button class="btn btn-danger" id="btneliminarcotizacion" type="button" value="Eliminar Fila" onclick="eliminarcot();" disabled="true">Eliminar Cotizacion <span class="glyphicon glyphicon-trash"></span></button></button>
    </div> 
    <br>
    <br>
    <div class="container">
      <div  class="table table-striped" style="width: 80%; display: block;margin: auto;">
        <table id="tbla" class="table" width="100%" align="center">
          <thead>
           <tr id="columnas_pedidos" style="text-align: center;">
               <th style="text-align: center;"><input type="checkbox" name="" disabled="true"></th>
               <th style="text-align: center;">Cant</th>
               <th style="text-align: center;">Equipo</th>
               <th style="text-align: center;">Clave</th>
               <th style="text-align: center;">Días</th>
               <th style="text-align: center;">PU</th>
               <th style="text-align: center;">Importe</th>
           </tr>
         </thead>
        <tbody >
          {% if id != 0 %}
              {% for pedidos in datosequipos %}
              {% set pedidoinput = pedidos.cant %}
                  <tr align="center" style="text-align: left;">
                    <td style="text-align: center;"><input type="radio" name="rd1"></td>
                      <td style="text-align: center;">{{ pedidos.cant }}</td>
                      <td style="text-align: center;">{{ pedidos.equipo }}</td>
                      <td style="text-align: center;">{{ pedidos.clave }}</td>
                      <td style="text-align: center;">{{ pedidos.dias }}</td>
                      <td style="text-align: center;">{{ pedidos.PU }}</td>
                      <td id="impr" style="text-align: center;">{{ pedidos.importe }}</td>
                  </tr>
              {% endfor %}
          {% endif %}
           {% if cot != 0 %}
              {% for cotizaciones in cotizaciones %}
              {# {% set pedidoinput = cotizaciones.cantidad %} #}
                  <tr align="center" style="text-align: left;">
                    <td style="text-align: center;"><input type="radio" name="rd1"></td>
                      <td style="text-align: center;">{{ cotizaciones.cantidad }}</td>
                      <td style="text-align: center;">{{ cotizaciones.equipo }}</td>
                      <td style="text-align: center;">{{ cotizaciones.clave }}</td>
                      <td style="text-align: center;">{{ cotizaciones.dias }}</td>
                      <td style="text-align: center;">{{ cotizaciones.PU }}</td>
                      <td id="impr" style="text-align: center;">{{ cotizaciones.importe }}</td>
                  </tr>
              {% endfor %}
          {% endif %}
            </tbody>

           <script type="text/javascript">
                  document.getElementById("tbla").onclick=function(e){ 
                      if(!e)e=window.event; 
                      if(!e.target) e.target=e.srcElement; 
                      var TR=e.target;
                      while( TR.nodeType==1 && TR.tagName.toUpperCase()!="TR" )
                      TR=TR.parentNode;
                      var celdas=TR.getElementsByTagName("TD");
                      if( celdas.length!=0 )
                      equipo=( celdas[2].innerHTML);
                      cant =( celdas[1].innerHTML);
                      clave=( celdas[3].innerHTML);
                      dias=( celdas[4].innerHTML);
                      PU =( celdas[5].innerHTML);
                      importe =( celdas[6].innerHTML);
                      document.getElementById('txtTabla').value=equipo; 
                    }
                     

            </script>
            <input style="visibility:hidden;" name="txtTabla" type="text" id="txtTabla" value=""  >
        </table>
      </div>
      </div>
 <div class="container" style="text-align: left;">
        <button class="btn btn-danger" id="btneliminarfila" type="button" value="Eliminar Fila" onclick="eliminarfila();" disabled="true">Eliminar Fila <span class="glyphicon glyphicon-trash"></span></button></button>
        <button id="btn2" type="button" class="btn btn-primary" onclick="abrirmodal();">Agregar  <span class="glyphicon glyphicon-plus"></span></button>

        <button id="btn3" class="btn btn-warning" type="button" onclick="modificar();"  disabled="true">Editar Registros  <span class="glyphicon glyphicon-wrench"></span></button>
        <br>
        <br>
        <br>
         <textarea style="" id="inpdir" type="text" name="direccion" placeholder="Direccion" hidden="hidden">{{direccion}}</textarea>
        <textarea style="" id="inpcom" type="text" name="comentarios"  value="{{comentarios}}" placeholder="Comentarios" >{{comentarios}}</textarea>
  <div>
          <label id="lbl1" style="color: red; font-size: 150%;">Pagado $:<span id="pg"> {{pagado}}</span> </label><br>
          <label id="lbl1" style="color: red; font-size: 150%;">Por Pagar $:<span id="porpg"> {{porpagar}}</span></label>
        </div>
    </div>
   
    <div class="container">
<form style="margin-left: 64%; margin-top:-15%;" class="form-horizontal" role="form">
  
      <div class="grupo1" style="margin-bottom:0;">
            <label id="lbl1">Subtotal</label><input style="margin-left: 20.1%;" id="inpt1" type="text" name="subtotal" value="{{ sub1 }}" disabled >
      </div>
    <div class="grupo2">
        <label id="lbl2">Descuento %</label><input style="margin-left: 12.8%;" onkeypress="return filterFloat(event,this);"  onchange="calcular2();" id="inpt2" type="text" name="descuento" value="{{ descuento }}" onchange="">
    </div>

    
    <label id="lbl10">Costo de Entrega</label><input onkeypress="return filterFloat(event,this);" style="margin-left: 6.1%;margin-top: 0.5%; text-align: center;" id="sventrega" type="text" name="entrsv"  value="{{svent}}">
    <div class="grupo3">
        <label id="lbl3">Subtotal</label> <input id="inpt3" type="text" name="subtotal2" value="{{ sub2 }}" disabled>

    </div>

    <div class="grupo4">  
         <input id="check" type="checkbox" name="check" onclick="calcular2();" {{impcheked}} >Incluir impuesto?</input><input id="inpt4" type="text" name="incluir"  value="{{ impuesto }}">
    </div>
    <div class="grupo5">
        <label id="lbl5" style="margin-left: -0.3%; color: red;">Total</label><input style="color: red;" id="inpt5" type="text" name="total" value="{{ total }}" disabled> <!--  <button id="calcular" class="btn btn-default btn-sm" type="button" onclick="calcular2();"  disabled="true">Calcular<span class="glyphicon glyphicon-usd"></span></button> -->
    </div>
  
  </form>
  </div>
  </div>
  <br>
  <br>

   <div style="text-align: center;" class="container">
    <label>HISTORIAL DEL PEDIDO</label>
      <table id="bitacora" class="table table-hover" width="100%" align="center">
          <thead>
            <tr>
              <th hidden="hidden"></th>
              <th style="text-align: center;">Fecha</th>
              <th style="text-align: center;">Hora</th>
              <th style="text-align: center;">Usuario</th>
              <th style="text-align: center;">Comentario</th>
            </tr>
          </thead>
          <tbody>
            {% for datosbitacora in datosbitacora %}
                  <tr align="center" style="text-align: left;">
                    <td hidden="hidden" style="text-align: center;">{{ datosbitacora.id }}</td>
                      <td style="text-align: center;">{{ datosbitacora.fecha }}</td>
                      <td style="text-align: center;">{{ datosbitacora.hora }}</td>
                      <td style="text-align: center;">{{ datosbitacora.nombre_usuario }}</td>
                      <td style="text-align: center;" ><input style="border: 0; text-align: center;" disabled="true" type="text" maxlength="200" value="{{ datosbitacora.comentarios }}"></td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      <script type="text/javascript">
        var id='';
        document.getElementById("bitacora").onclick=function(e){ 
            if(!e)e=window.event; 
            if(!e.target) e.target=e.srcElement; 
            var TR=e.target;
            while( TR.nodeType==1 && TR.tagName.toUpperCase()!="TR" )
            TR=TR.parentNode;
            var celdas=TR.getElementsByTagName("TD");
            if( celdas.length!=0 )
            id=( celdas[0].innerHTML);
            $.post("{{ path('detalles_bitacora') }}",{id:id}, function(mensaje) {
                for (var i=0, total = mensaje.length; i < total; i++) {
                    document.getElementById('inputDemo').value=mensaje[i]["comentarios"];
                }
        }); 
$('#modalbit').modal('show');
document.getElementById('agregarbit').disabled=true;
                    }
      </script>
      <button class="btn btn-success" onclick="modalbitacora();">Agregar Comentario</button>
    </div>
  <div class="modal fade" id="modalbit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
       <div class="modal-dialog modal-lg" role="document" style="width: 80%;">
        <div class="modal-content">
         
          <div class="modal-body">
            <h3 style="text-align: center;">Agregar al Historial</h3>
              <textarea  class="form-control" id="inputDemo" ></textarea>
              <br>
              <br>
              <button class="btn btn-success" onclick="agregarbitacora();" id="agregarbit">Agregar Comentarios</button>        
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
          </div>
        </div>
      </div>
  </div>

<script>
  $('#inputDemo').characterCounter({
         max:1000,
         textArea: true  
});
//   $('#textareaDemo').characterCounter({
//     max: 140,
//     textArea: true
// });
//   $('#customDemo').characterCounter({
//     opacity : ".8",
//     max: 30,
//     color : "red"
// });
  </script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}

