{% extends 'menu/menu.html.twig' %}
{% block body %}

{% set pd = '' %}
{% set cuenta = '' %}        
{% set folio = '' %}
{% set cliente = '' %}
{% set status = '' %}
{% set fecharec = '' %}

{% for recolecciones in recolecciones %}
  {% set fecharec = recolecciones.fecha_recoleccion %}
{%endfor%}
           {% for pedido in pedido %}
              {% set pd = pedido.pedido %}
              {% set cuenta = pedido.cuenta %}
              {% set folio = pedido.folio %}
              {% set cliente = pedido.cliente %}
              {% set status = pedido.status %}
             {%endfor%}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link>
  <link rel="stylesheet" href="/resources/demos/style.css"></link>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="mdtimepicker.js"></script>


<style type="text/css">
#div2{
  text-align: center;
  overflow: scroll;
     width: 100%;
     height: 250px;

     
}
#div1{
  text-align: center;
     overflow: scroll;
     width: 100%;
     height: 250px;
}
#div3{
     overflow: scroll;
     height:220px;
}
#div4{
     overflow:scroll;
     height:220px;
     width: 80%;
     margin: auto;
     display: block;
     margin-top: -2%;
     margin: auto;
}
</style>
<script type="text/javascript">
	var folio='';
	query=window.location.search.substring(1);
	q=query.split("?");
	vars=[];
	var pedid;
	for(i=0;i<q.length;i++){
	    x=q[i].split("=");
	    k=x[0];
	    v=x[1];
	    vars[k]=v;
	   pedid=v;
} 

$( function() {
       $.datepicker.regional['es'] = {
          closeText: 'Cerrar',
          prevText: '< Ant',
          nextText: 'Sig >',
          currentText: 'Hoy',
          monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
          dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
          weekHeader: 'Sm',
          dateFormat: 'dd/mm/yy',
          firstDay: 1,
          isRTL: false,
          showMonthAfterYear: false,
          yearSuffix: ''
       };
       $.datepicker.setDefaults($.datepicker.regional['es']);
       $("#fechadev" ).datepicker();
       $("#fecha_recoleccion" ).datepicker();
});
 

// CARGAR DATOS DEVOLUCIONES
function imprimir(){


if ($('select[name="tipoimp"] option:selected').text() =='Formato Ticket'){
             var pedido_id = $("input#pedido_padre").val();
           window.open("reporteticketdev/"+pedido_id);   
  }else{
             var pedido_id = $("input#pedido_padre").val();
           window.open("reportepdfdev/"+pedido_id);   
  }
}

 $(document).ready(function() {

  $( "#btn_recolecciones" ).mousemove(function( event ) {
    if(document.getElementById("pedido_padre").value==''){
      $("#btn_recolecciones").prop("disabled",true);
      $("#btn_eliminar_rec").hide();
    }else{
      $.post("{{ path('consultar_rec') }}", {pedido:document.getElementById("pedido_padre").value}, function(mensaje) {
          $("#fecha_recoleccion").html(mensaje);
          $('#btn_recolecciones').attr('title', 'Fecha de Recoleccion: ' + mensaje );
          if (mensaje=='00/00/0000'){
            $('#btn_recolecciones').attr('title', 'Fecha de Recoleccion: Sin Asignar ');
          }
      });
    }
  });
  if (document.getElementById('status_pedido').value=='Devuelto'){

document.getElementById("imprimirdev").disabled=true;
  }else{
document.getElementById("imprimirdev").disabled=false;

  }
 	 var pedido = document.getElementById("pedido_padre").value;
 	 var cliente = document.getElementById("cliente").value;
     var cuenta = document.getElementById("cuenta").value;

 	$("#btn_registrodev").click(function(){
    
 		$("#tbl_registrodv").find("tr:gt(0)").remove();
    $('.loader').show();
      $.post("{{ path('filtros_dev') }}", {pedid:pedido}, function(mensaje) {
           $("#txt3").html(mensaje);

        for (var i=0, total = mensaje.length; i < total; i++) {
          $("#tbl_registrodv").append("<tbody><tr><td style='text-align: center;text-align: center;word-wrap: break-word;'>"+mensaje[i]["clave"]+"</td><td style='text-align: center; text-align: center;word-wrap: break-word;'>"+mensaje[i]["equipo"]+"</td><td style='text-align: center;text-align: center;word-wrap: break-word;'>"+mensaje[i]["pendiente"]+"</td><td contenteditable='true' style='text-align: center;text-align: center;word-wrap: break-word;'>-</td></tr></tbody>");
        }
        $('.loader').hide();
      });
 	});
 	 $("#btn_registrodev").click(function(){
 		$("#tbls").css("display", "none");
 		$("#btn_registrodev").css("display", "none");
 		$("#btn_eliminardev").css("display", "none");
    $("#btn_detallespd").css("display", "none");
 		$("#lblstatus").css("display", "none");
 		$("#status_pedido").css("display", "none");
 		$("#lblcliente").css("display", "none");
 		$("#cliente").css("display", "none");
 		$("#lblcuenta").css("display", "none");
 		$("#cuenta").css("display", "none");
 		$("#registro_dev").css("display", "block");
 		//$("#btn_atras").css("display", "block");
    $("#btn_atras").show();
 		$("#dt3").css("display", "block");
     });
    var tpendi=0;
      $("#tblresumen").find("tr:gt(0)").remove();
        $('.loader').show();
      $.post("{{ path('filtros_dev') }}", {pedid:pedido}, function(mensaje) {
           $("#txt3").html(mensaje);
           //var columnas = mensaje.length - 1;
        for (var i=0, total = mensaje.length; i < total; i++) {
          
          $("#tblresumen").append("<tr><td style='text-align: center;text-align: center;word-wrap: break-word;'>"+mensaje[i]["clave"]+"</td><td style='text-align: center; text-align: center;word-wrap: break-word;'>"+mensaje[i]["equipo"]+"</td><td style='text-align: center;text-align: center;word-wrap: break-word;'>"+mensaje[i]["cantidad"]+"</td><td style='text-align: center;text-align: center;word-wrap: break-word;'>"+mensaje[i]["devuelto"]+"</td><td style='text-align: center;text-align: center;word-wrap: break-word;'>"+mensaje[i]["pendiente"]+"</td></tr>");
        }
        $('.loader').hide();
        var cantidad=0;
        var ct=0;
        $('#tblresumen tbody tr').each(function(){
          ct=ct+1;
          if (ct>1){
            var Referencia = $(this).find("td").eq(4).html();
            tpendi= (parseInt(tpendi)+parseInt(Referencia));  
          }
        });
          if (tpendi==0){
            var estado=2;
          }else{
            var estado=1;
          }
           $.post("{{ path('act_dev') }}", {pedido:pedido,estado:estado}, function(mensaje) {
             $("#txt3").html(mensaje);
             //alert(mensaje[0]['status']);
             document.getElementById('status_pedido').value=mensaje[0]['status'];
              });
          

      });
      $("#tbldevoluciones").find("tr:gt(0)").remove();
      $.post("{{ path('consultas_devfolio') }}", {pedid:pedido}, function(mensaje) {
      $("#txt3").html(mensaje);
      var foliotemp='';
      for (var i=0, total = mensaje.length; i < total; i++) {
        if (foliotemp!=mensaje[i]["folio"]){
          $('#tbldevoluciones').append("<tr><td style='text-align: center; cursor:pointer;' onclick=consultafolio();><a>Detalles</td><td  style='text-align: center;' >"+mensaje[i]["folio"]+"</td><td style='text-align: center;'>"+mensaje[i]["fecha_devolucion"]+"</td><td style='text-align: center;'><input id='chekid' type='checkbox' value="+mensaje[i]["folio"]+" name='chek1' onclick=activarcasilla(this)></td><td style='text-align:center;'><button id='btn_eliminardev' type='button' class='btn btn-danger' onclick=recorrercheck()>Eliminar Devolución</button></td><tr>");
          foliotemp= mensaje[i]["folio"];   
        }
       
        }
      });
      
      
    });

 function consultafolio(){
 	 $("#dt3").css("display", "block");
 	 $("#btn_atras").show();
 	 $("#tbls").css("display", "none");
 	 $("#tbldetalles").css("display", "block");
 	 $("#btn_registrodev").css("display", "none");
   $("#btn_detallespd").css("display", "none");
 	 $("#btn_eliminardev").css("display", "none");
 	 $("#lblstatus").css("display", "none");
 	 $("#status_pedido").css("display", "none");
 	 $("#lblcliente").css("display", "none");
 	 $("#cliente").css("display", "none");
 	 $("#lblcuenta").css("display", "none");
 	 $("#cuenta").css("display", "none");
 }

 function recorrercheck(){
  var statusConfirm =(confirm("Desea borrar el registro?"))
  if (statusConfirm == true){ 
   	var i = 0;
   	var fila=0;
    var paso='';
   	 $("input[name=chek1]").each(function () { 
         if($(this).is(':checked')){
          var folio=($(this).val());
          paso='pase';
         	 document.getElementById("tbldevoluciones").deleteRow(fila);
            $.post("{{ path('eliminardev') }}", {folio: folio}, function(mensaje) {
              $("#txt3").html(mensaje);
              });
         }

      });
      if(paso==''){
        alert('Debe Seleccionar una Fila o mas'); 
      }else{
          alert('Registro Eliminado');
         location.reload();
      }
         

    }
 }

 function activarcasilla(check){

	if(check.checked==true){
		document.getElementById("btn_eliminardev").disabled=false;
	}else{
		document.getElementById("btn_eliminardev").disabled=true;
	}
 }
 
 function registrardevolucion(){
  var paso=0;
  var cantidad=0;
  var pordevolver =0;
  var folio_padre = document.getElementById('folio_padre').value;
  var folio_dev = document.getElementById('inptfolio').value;
 	var statusConfirm =(confirm("Desea Enviar el registro?"))
    if (statusConfirm == true){ 

      if(folio_dev.trim()==folio_padre.trim()){
        alert('El Folio De Entrega no debe ser igual al Folio de Devoluciones');
      }else{
        if(document.getElementById("inptfolio").value=='' && document.getElementById("fechadev").value=='' ){
    alert('Debe Completar todos los campos');
    }else{
      var contar = 0;
      $('.loader').show();
      $.post("{{ path('buscar_folio') }}", {folio:folio_dev}, 
      function(mensaje) {
            $("#txtpu").html(mensaje); 

            if(mensaje!='Este Folio ya Existe'){
              $('#tbl_registrodv tbody tr').each(function(){
               contar = contar +1;
                if(contar > 1){
                   cantidad  = $(this).find("td").eq(3).html();
                   var clave = $(this).find("td").eq(0).html();
                   var equipo = $(this).find("td").eq(1).html();
                   pordevolver= $(this).find("td").eq(2).html();
                if (cantidad !=''){
                  if (cantidad != '-'){
                    if (Number(cantidad) > Number(pordevolver)){
                      alert('La Cantidad Excede al Total de Equipos Entregados');
                    }else{
                      var pedido = document.getElementById('pedido_padre').value;
                      var fecha_mov = document.getElementById('fechadev').value;
                      
                      $.post("{{ path('registrar_devoluciones') }}", {pedido:pedido,fecha_mov: fecha_mov,folio_padre:folio_padre,folio_entrega:folio_dev,cantidad:cantidad,clave:clave,equipo:equipo}, 
                      function(mensaje) {
                            $("#txtpu").html(mensaje);
                            $('.loader').hide();  
                         });
                        }
                       }
                     }else{
                      alert('Escriba la Cantidad a Devolver');
                      Exit();
                     }
                    }
                  });
              alert('Devolución Realizada');
              location.reload();
            }else{
              alert('Este Folio ya Existe');
            }
      });

        
       }
      }
	  }else{
	  	alert('Procedimiento Cancelado');
	  }
	}
	function atras(){
		location.reload();
	}

  function eliminarfoliodev(){
    var folio=document.getElementById('inptfolio').value;
    var statusConfirm =(confirm("Desea borrar el registro "+folio+"?"))
    if (statusConfirm == true){ 
      $('.loader').show();
       $.post("{{ path('eliminardev') }}", {folio: folio}, function(mensaje) {
                $("#txt3").html(mensaje);
                $('.loader').show();
                }); 
       alert('El Folio de Devolucion número '+folio+' Ha sido Eliminado');
     }else{
      alert('Procedimiento Cancelado');
     }
   location.reload();
  }

  function detallespedido(){
  
    var pedid = document.getElementById("pedido_padre").value;
    $(".loader").show();
    var url=("{{ path('pedidos_detalles', { 'id':'xxx' }) }}");
     url = url.replace("xxx", pedid);
        $.ajax({
            dataType: "html",
            url: url,
            type: "GET",
            data: {id: pedid},
            success: function(data)
            {
             location.href=url;   
            }
        });
        
  }


  function registrar_recolecciones(){
    if (document.getElementById("fecha_recoleccion").value ==''){
          alert('Seleccione una Fecha para Programar la Recolección');

        }else{
            $.post("{{ path('registrar_recoleccion') }}", {pedido:document.getElementById("pedido_padre").value,fecha:document.getElementById("fecha_recoleccion").value}, function(mensaje) {
          });
         alert('Recoleccion Programada');   
         $('#myModalrecoleccionesdev').modal('hide');
        }
  }
  function recoleccion(){
    $("#gifcargando").show();
       $.post("{{ path('consultar_rec') }}", {pedido:document.getElementById("pedido_padre").value}, function(mensaje) {
        $("#fecha_recoleccion").html(mensaje);
        document.getElementById("fecha_recoleccion").value=mensaje;
        $("#gifcargando").hide();
          });
      $('#myModalrecoleccionesdev').modal('show');
      
    }
    function eliminarrec(){
    var statusConfirm =(confirm("Desea Eliminar esta Recoleccion?"))
      if (statusConfirm == true){ 
           $.post("{{ path('eliminar_recoleccion') }}", {pedido:document.getElementById('pedido_padre').value}, function(mensaje)  {
                    $("#txt3").html(mensaje);
                    
                 });

           alert('Recoleccion Eliminada');
           $('#myModalrecoleccionesdev').modal('hide');
           document.getElementById("fecha_recoleccion").value='';
       }
      }

      function filterFloat(evt,input){
            validanumeros(input);
    // Backspace = 8, Enter = 13, ‘0′ = 48, ‘9′ = 57, ‘.’ = 46, ‘-’ = 43
    var key = window.Event ? evt.which : evt.keyCode;    
    var chark = String.fromCharCode(key);
    var tempValue = input.value+chark;
    if(key >= 48 && key <= 57){
        if(filter(tempValue)=== false){
            return false;
        }else{       
            return true;
        }
    }else{
          if(key == 8 || key == 13 || key == 0) {     
              return true;              
          }else if(key == 46){
                if(filter(tempValue)=== false){
                    return false;
                }else{       
                    return true;
                }
          }else{
              return false;
          }
    }
}
function filter(__val__){
    var preg = /^([0-9]+\.?[0-9]{0,2})$/; 
    if(preg.test(__val__) === true){
        return true;
    }else{
       return false;
    }
    
}

function validanumeros(e){
    tecla = (document.all) ? e.keyCode : e.which;
    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
        
    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9-.]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
}

</script>
<!-- RECOLECCIONES -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="modal fade" id="myModalrecoleccionesdev" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <h2 id="lbl2"  style="text-align: center" >Programar Recolección</h2>
          <div>
            <br>
            <br>
            <div style="text-align: center;">
              
       <label  class="cantidad">Fecha de Recolección</label>&nbsp;<input id="fecha_recoleccion" class="cantxt" type="text" name="" size="10" value="{{ fecharec|date('d/m/Y') }}"> <img id="gifcargando" class="logo" src="{{ asset('img/Loading_icon.gif')}}" style="width: 15%;" hidden="hidden">
       </div>
        <br>
      <div align="center">
        <input id="btn_recoleccion" class="btn btn-info btn-lg" type="button" value="Programar Recolección" onclick="registrar_recolecciones();">
         <button class="btn btn-danger btn-lg" id="btn_eliminar_rec" type="button" onclick="eliminarrec();">Limpiar<span class="glyphicon glyphicon-trash"></span></button></button>
      </div>
      <br>
      </div>
      </div>
    </div>
  </div>

<form id="datos_pedidos" style="margin-top: -1%;">
  <div class="container">
	<fieldset style="display: block;margin: auto; width:80%; height:20%; text-align: center;margin-top: 1%;">
		<legend style="text-align: center; ">Detalles Renta</legend>
		<div id="dt1">
		   <label id="lblpedido" class="label1" for="pedido">Renta</label>&nbsp;<input id="pedido_padre" type="text" name="pedido" value="{{pd}}" disabled="true">
		   <label id="lblfolio" class="label1" for="pedido">Folio de Entrega</label>&nbsp;<input id="folio_padre" type="text" name="folio" value="{{folio}}" disabled="true" >
		   <label id="lblstatus" class="label6">Status</label>&nbsp;<input id="status_pedido" type="text" name="" value="{{status}}" disabled="true">
		</div>

		<div id="dt3" hidden="hidden" style="margin-left: -12%; margin-top: 2%;">
			
		</div>

		<div id="dt2" style="margin-top: 1%;">
		   <label id="lblcliente" class="label2" for="cliente">Cliente</label>&nbsp;<input id="cliente" type="text" name="" value="{{cliente}}" disabled="true">
           <label id="lblcuenta" class="label3" for="cuenta">Obra</label>&nbsp;<input id="cuenta" type="text" name="" value="{{cuenta}}" disabled="true">
            <label>Tipo de Formato:</label><select id="tipoimp" name="tipoimp">
              <option value="1">Formato Ticket</option>
              <option value="2">Formato Completo</option>
            </select>
        </div>
        <div  id="botones">
			    
       <button id="btn_detallespd" type="button" class="btn btn-info btn-sm" onclick="detallespedido();">Detalles de la Renta</button>
       <button class="btn btn-info btn-sm" id="btn_atras" style="display: none;" onclick="atras();">ATRAS</button>
       <button id="btn_recolecciones" type="button" class="btn btn-info btn-sm" onclick="recoleccion();"  data-toggle="tooltip" data-placement="top" title="">Programar Recolecciones</button>

        
       <button id="imprimirdev" type="button" class="btn btn-info btn-sm" onclick="imprimir();">Imprimir</button>
       
			      	
	    </div>

	</fieldset>
  </div>
</form>
	<form id="tbls" >
    <div class="container">
           <div class="table-responsive">
            <table class="table table-striped" id="tblresumen" width="100%" align="left" style="">
            	<caption style="text-align: center; font-size: 30px;width: 100%; color: blue;">SITUACION ACTUAL</caption>
              <tr id="colresumen" align="center" style="border-color: blue;">
                   <th style="text-align: center;">Clave</th>
                   <th style="text-align: center;">Equipo</th>
                   <th style="text-align: center;">Entregados</th>
                   <th style="text-align: center;">Devueltos</th>
                   <th style="text-align: center;">Pendiente </th>
               </tr>
            </table>
        </div>
        <br>
        <br>
        <div class="container">
          <div class="table-responsive" style="">
            <table class="table table-striped" id="tbldevoluciones" width="100%" align="left" style="">
          		<caption style="text-align: center; font-size: 30px;width: 100%; color: blue;">DEVOLUCIONES</caption>
              
              <tr id="colresumen" align="center">
              	<th style="text-align: center;">Detalles</th>
                   <th style="text-align: center;">Folio</th>
                   <th style="text-align: center;">Fecha</th>
                   <th style="text-align: center;">Seleccionar</th>
                   <th style="text-align: center;">Eliminar</th>
               </tr>

                <script>
          document.getElementById("tbldevoluciones").onclick=function(e){ 
            var pedidop=0;
              if(!e)e=window.event; 
              if(!e.target) e.target=e.srcElement; 
              var TR=e.target;
              while( TR.nodeType==1 && TR.tagName.toUpperCase()!="TR" )
              TR=TR.parentNode;
              var celdas=TR.getElementsByTagName("TD");
              if( celdas.length!=0 )
                var folio=( celdas[1].innerHTML);
                var fecha=( celdas[2].innerHTML);
                  document.getElementById('inptfolio').value=folio;
                document.getElementById('fechadev').value=fecha;
                pedidop=document.getElementById('pedido_padre').value;

      	 $.post("{{ path('consultas_folios') }}", {folio:folio,pedidop:pedidop}, function(mensaje) {
	      $("#txt3").html(mensaje);
      		for (var i=0, total = mensaje.length; i < total; i++) {
         		$('#tbleliminar').append("<tr><td style='text-align: center;'>"+mensaje[i]["claveequipo"]+"</td><td style='text-align: center;''>"+mensaje[i]["equipo"]+"</td><td style='text-align: center;'>"+mensaje[i]["cantidad"]+"</td><tr>");
         	}
      	});
    	 document.getElementById('inptfolio').disabled='true';
    	 document.getElementById('fechadev').disabled='true';
       }
              </script>
            </table>
          </div>
          </div>
          <button id="btn_registrodev" type="button" class="btn btn-info btn-lg" style="display: block;margin: auto;">Registrar Devolución</button> 
          </div>
        </form>
        <form id="registro_dev" hidden="true" >
          <div class="container">
        	<div  class="table-responsive">
            <table id="tbl_registrodv" width="60%" align="center"  style="table-layout: fixed; margin-top: 1%; " class="table table-striped">
            	<caption style="text-align: center; font-size: 30px;width: 100%; color: blue;">DETALLES</caption>
              <tr id="rgv_dev" align="center" style="border-color: blue;">
                   <th style="text-align: center;">Clave</th>
                   <th style="text-align: center;">Equipo</th>
                   <th style="text-align: center;">Por Devolver</th>
                   <th style="text-align: center;">Cantidad a Devolver</th>
               </tr>
            </table>
          </div>
          <div style="text-align: center;">
          <label id="lbldevolucion" style="text-align: left; margin-left: 9%;">
       Folio Devolucion</label>
       <input id="inptfolio" type="text" style="text-align: center;" onkeypress="return filterFloat(event,this);">
           <label id="lblfechadev">Fecha</label>
           <input id="fechadev" type="text" style="margin: auto;" readonly="readonly">
          <button  class="btn btn-info btn-sm" onclick="registrardevolucion();" type="button">Registrar Devolución</button>
          </div>
        </form>

        <form id="tbldetalles" hidden="hidden">
        	<div class="container">
            <table id="tbleliminar" width="60%" align="center"  style="table-layout: fixed; margin-top: 1%; " class="table table-striped">
            	<caption style="text-align: center; font-size: 30px;width: 100%; color: blue;">DETALLES DE DEVOLUCIÓN</caption>
              <tr id="rgv_dev" align="center" style="border-color: blue;">
                   <th style="text-align: center;">Clave</th>
                   <th style="text-align: center;">Equipo</th>
                   <th style="text-align: center;">Por Devolver</th>
               </tr>
            </table>
          </div>

            <button id="btneliminar2" style="color: blue;margin-left: 50%;margin-top: 5%;  margin-top: 1%;" class="btn btn-info btn-lg" onclick="eliminarfoliodev();" type="button">Eliminar</button>   
            </div>
        </form>
{% endblock %}